[2016-02-23 14:59] czechboy0 opened #1 "UDP support"
UDP support would be great for streaming of data like sound and video.

[2016-02-25 09:47] aotgc opened #2 "Use the Select mode C10k problem cannot be solved"

[2016-02-25 14:15] billabt commented on #2
More info please?

[2016-02-28 13:01] aotgc commented on #2
http://www.kegel.com/c10k.html

[2016-03-11 17:43] kweinmeister opened #3 "Add documentation to BlueSocket"
As a developer who is finding out about BlueSocket for the first time, I would like to see usage examples of the main features so that I can understand what BlueSocket can do and also to help me become productive quickly.

[2016-03-11 17:48] billabt commented on #3
Makes perfect sense.  I've been considering adding one or two of the old test programs from ETSockets that would do exactly that.

[2016-03-28 19:14] billabt commented on #3
Complete.

[2016-03-28 19:14] #3 closed

[2016-04-01 02:42] nicholasjackson commented on #1
I have been looking into the UDP support as I would like to build a StatsD client for swift and from looking at the documentation on sending datagrams with LibC this does not look massively complicated.

My main concern is how to test the code other than some adhoc manual tests, again I am happy to implement some unit tests but this would require some reasonably structural changes to the Socket cl

[2016-04-01 03:03] billabt commented on #1
UDP support is coming. Some of the infrastructure is already there. It's definitely in plan.  if you'd like to take a stab at it, I'd be happy to answer any questions you might have.

[2016-04-01 19:06] nicholasjackson commented on #1
Thanks Bill I will have a go this weekend.

[2016-04-01 19:16] billabt commented on #1
Sounds good. I added more scaffolding this morning. Also, there's a new delegate model in the works so it might be helpful to keep that in the back of your head. Have a happy coding weekend.

[2016-04-01 19:21] kweinmeister commented on #1
Excellent, @nicholasjackson. I have uploaded the pull request template, which links to our CLA, to save time when we're ready for that.

[2016-04-14 05:19] TofPlay opened #5 "Carthage"
Hi,
For iOS and OS X projets it's will be great to make your component [Carthage](https://github.com/Carthage/Carthage) compatible

Take a look at these articles:
- [Ruthlessly Simple Dependency Management with Carthage](https://realm.io/news/swift-dependency-management-with-carthage/)
- [Carthage Tutorial: Getting Started](https://www.raywenderlich.com/109330/carthage-tutorial-getting-started)
-

[2016-04-24 20:47] billabt commented on #5
At this point BlueSocket will only support the Swift Package Manager.  If there is a enough demand for Carthage support in the future, it will be considered.

[2016-04-24 20:47] #5 closed

[2016-07-06 05:44] simplepanda opened #6 "Two issues with Socket.wait()"
Hi there,

I've been doing some work on the Kitura project and in sketching out some ideas for performance optimizations I've found what I think are a couple of issues / improvements to be made to  Socket.wait():

First:

 In the wait() function a time is initialized:

[code]

Some code following this computes a time based on the <i>timeout</i> UInt that gets passed to wait() in the event that <i>

[2016-07-06 13:06] billabt commented on #6
No problem. I'm on vacation this week but will try to find some time to take a look. Thanks.

[2016-07-06 15:54] billabt commented on #6
In order to not lose existing functionality to allow a quick check (i.e. check and return immediately), I've modified the API so that we can do both, the quick check plus the indefinite wait.
[code]

[2016-07-06 15:54] #6 closed

[2016-07-06 15:58] simplepanda commented on #6
Looks great, thanks! -d

[2016-07-19 09:45] ianpartridge opened #8 "Support Xcode 8 beta 3 fully"
Building BlueSocket on Xcode 8 beta 3 gives these warnings:

[code]

[2016-07-19 11:01] ianpartridge commented on #8
This is caused by https://github.com/apple/swift-evolution/blob/master/proposals/0099-conditionclauses.md

[2016-07-20 22:37] billabt commented on #8
Fixed upstream. Will push when I get a reasonably compatible Linux toolchain.

[2016-07-20 22:37] #8 closed

[2016-07-20 22:38] billabt commented on #2
Deferring issue for now.

[2016-07-20 22:38] #2 closed

[2016-07-26 22:43] jmarcelino opened #10 "Problem compiling ZERO function on Linux. _fds_bits should set 32 bits."
Hi,

First let me say thank you. This is a really great project and love that it's already been updated to the latest Swift snapshot.

I'm trying to compile the latest release 0.7.1 on Debian Linux Jessie on armv7l using the latest Swift snapshot but compile fails with:

Socket-0.7.1/Sources/SocketUtils.swift:121:20: error: cannot assign value of type '(Int, Int, Int, Int, Int, Int, Int, Int, Int,

[2016-07-27 15:11] billabt commented on #10
Thanks for the kind comments.  But right now we're only supporting Linux on **ubuntu**. where although the __fd_mask is defined as a long fd_set.__fds_bits is only 16 not 32 bits.

Using the Swift REPL, you can see this very clearly...
[code]

[2016-07-27 15:42] jmarcelino commented on #10
Fair enough, but to be more specific this means the code only supports Ubuntu on x86.
Ubuntu on ARM  (for example on the Raspberry Pi 2) also expects 32 bits.

Personally I think this is an issue for users of Aphid, which - as you probably know - is the new MQTT Swift library also from IBM and which uses BlueSocket. Aphid/MQTT is ideal in low cost ARM targets to feed data for example to services l

[2016-07-27 16:37] rfdickerson commented on #10
@billabt we saw this, too, when @sandmman and I were compiling BlueSocket on the Pi (ARM 32-bits) for our Aphid project. Is there some way we can dynamically change fds_bits it so that it builds on the Pi?

[2016-07-27 16:41] billabt commented on #10
I'm looking into it.  But at this point, I'm not sure we can accommodate it given the current toolset.  There's unfortunately no way to determine which Linux were running on.

[2016-07-27 16:58] jmarcelino commented on #10
Perhaps testing for arch(arm)?

Something like this works on both arm (Pi, Beagles, etc...) and x86 targets for me, but I'm not sure it holds true for everything. Still it could help.

#if arch(arm) && os(Linux) //Set 32 bits
set.__fds_bits = (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
#elseif os(Linux) // Set 16 bits
set.__fds_bits = (0, 0, 0,

[2016-07-27 17:04] billabt commented on #10
I'm looking at a potential solution right that should work on any Linux platform.  Will advise.

[2016-07-27 17:05] rfdickerson commented on #10
Oh, I didn't realize that arch(arm) works. There's also `__WORDSIZE` that can get you back 32 and 64.

[2016-07-27 17:34] billabt commented on #10
My plan didn't pan out...  I'm going to go with the arch(arm) solution.

[2016-07-27 18:45] billabt commented on #10
This issue is fixed in version 0.7.2.  @jmarcelino your solution to use `arm` seems to be working.  Thanks for the suggestion.

[2016-07-27 18:45] #10 closed

[2016-07-29 18:10] rolivieri opened #12 "Add Travis CI support."

[2016-07-29 23:06] rolivieri commented on #12
@BDHernand When you get to this task, can you do PRs too? Thanks.

[2016-08-05 21:05] TheSoundDefense opened #14 "Invalid test module name"
During our automated builds of the newest Swift snapshots for the Sandbox, we run into the following issue while incorporating BlueSocket:

[code]

This began with the 7-29 snapshot a week ago. Sounds like a quick fix?

[2016-08-05 21:18] rfdickerson commented on #14
Hey Jim- you need to use his master-next branch. Since 7/29 has broken Tests, Bill hasn't upgraded yet.

[2016-08-05 21:22] TheSoundDefense commented on #14
Thanks for the heads up, I'll change our automation.

[2016-08-05 21:25] billabt commented on #14
I'll hopefully be upgrading either over the weekend or Tuesday when I get back to work. The master-next branch is 7/29 compatible with the exception of tests on Linux.

[2016-08-05 21:30] #14 closed

[2016-09-01 05:11] nicholasjackson commented on #1
Bit late to this but i started merging my UDP code into BlueSocket yesterday, hopefully it will be finished and a pull request on the way soon.

[2016-09-01 13:47] billabt commented on #1
Sounds good to me. Thanks.

[2016-09-07 19:57] nicholasjackson commented on #1
Hey @billabt made some good progress today, I am just refactoring a little to make my life easier.  To keep things consistent with UDP I was thinking that the connect method would only store the signature UDP being fire and forget and create the outbound socket on socket.write not actually open a socket like a TCP socket.

At present I am only making UDP sockets one way, i.e I am not creating a re

[2016-09-10 07:31] charlag opened #17 "Outdated README"
First example in README now looks like this
[code]

While it should look like this
[code]

[2016-09-11 18:53] billabt commented on #17
You're absolutely right. I'll make the change. Thanks for pointing this out.

[2016-09-11 18:53] #17 closed

[2016-09-12 04:27] charlag commented on #17
Thank you!
Sorry for not making a pull request, I was just unsure how to do it properly.

[2016-09-13 17:42] #12 closed

[2016-10-03 21:33] shariltumin opened #19 "ambiguous reference to member 'connect(to:port:)"
I have problem in compiling a simple client socket example:

swift build
Compile Swift Module 'SimpleClient' (1 sources)
/home/sharil/swift_projects/NetProClient/Sources/main.swift:13:15: error: ambiguous reference to member 'connect(to:port:)'
var cln = try Socket.connect(to: "localhost", port: 9999)
              ^~~~~~
Socket.Socket:326:17: note: found this candidate
    public func connect(to

[2016-10-03 21:52] billabt commented on #19
Can I see a bit more code?  Thanks.

[2016-10-03 22:27] shariltumin commented on #19
Sorry for the trouble. It was my mistake. For what it worth here are my simple examples:

Server:
// SimpleServer

import Socket

var soc = try Socket.create()
var msg = "I don't know"

try soc.listen(on: 9999)

var srv = try soc.acceptClientConnection()
var data = try srv.readString()

print("\(data!)")

try srv.write(from: msg)

srv.close()
-------------------------------------------------------

[2016-10-03 22:27] billabt commented on #19
I just tried to reproduce your problem...  It looks like your not using the *connect* API correctly...  That API doesn't return anything.  It just returns if successful and will throw an exception if there's an error.  Below is a little test program I cobbled together to try to reproduce your problem.  Have a look an see if this helps you in solving your problem.
[code]
This little snippet compile

[2016-10-03 22:28] billabt commented on #19
No problem...  Glad you found it.  Let me know if you have anymore questions.  In the meantime, I'm going to close this issue.

[2016-10-03 22:28] #19 closed

[2016-10-12 10:31] Bouke opened #22 "Cannot find out which port was assigned"
Sometimes you don't want to listen on a prespecified port, but just a port number assigned by the OS. In C you'd listen on port 0. To find out which port was assigned after listening, you'd call ``getsockname`` and lookup the ``sa(6)_port`` attribute. However it appears that this currently isn't implemented in BlueSocket.

[2016-10-12 15:41] billabt commented on #22
This is fixed in the latest release.  Thanks for the heads-up.

[2016-10-12 15:41] #22 closed

[2016-10-16 21:27] jackHedaya opened #23 "Unable to 'import Socket'"
For some reason I am unable to 'import Socket.' I built and tested the BlueSocket-master. Am I missing something?

[2016-10-17 01:14] billabt commented on #23
I need a bit more context. Can you give me a bit more context or an example?  Thanks.

[2016-10-18 13:57] billabt commented on #23
Did you figure out your problem?  If not, feel free to re-open this issue.  Thanks.

[2016-10-18 13:57] #23 closed

[2016-10-18 13:58] billabt commented on #1
Hi @nicholasjackson, are you still working on UDP support?  Haven't heard from you in awhile...  Hope all is well - Bill

[2016-10-19 00:58] jackHedaya commented on #23
Apologies, I had a holiday and was unable to use a computer. This is what I did, please tell me where I went wrong:

1. Downloaded BlueSocket-master
2. Downloaded Package-Builder-fc7294807d24955ab720212b57472a49a630d348
3. Added Contents of Package-Builder-fc7294807d24955ab720212b57472a49a630d348 to BlueSocket-master/Package-Builder
4. Entered Terminal
5. Entered command: cd ~/Desktop/BlueSocket-m

[2016-10-19 01:01] jackHedaya opened #24 "No such module 'Socket'"
I was unable to reopen the issue so I commented this on my old issue and created a new one.

Apologies, I had a holiday and was unable to use a computer. This is what I did, please tell me where I went wrong:

1. Downloaded BlueSocket-master
2. Downloaded Package-Builder-fc7294807d24955ab720212b57472a49a630d348
3. Added Contents of Package-Builder-fc7294807d24955ab720212b57472a49a630d348 to BlueSo

[2016-10-19 13:02] billabt commented on #24
Clone the repository, then drag the `BlueSocket.xcodeproj` into your project.  That should make it available to your app.  The Package-Builder directory is used only for our Travis CI builds.  You shouldn't be using it.

[2016-10-19 13:02] #24 closed

[2016-11-04 18:19] billabt commented on #1
Hi @nicholasjackson, are you still planning on submitting a PR with UDP support?  If, we're probably going to go ahead and implement it...  Thanks.

[2016-11-05 18:21] nicholasjackson commented on #1
@billabt Yes sorry, I have pretty much finished this, just been caught up at work.

[2016-11-05 23:09] billabt commented on #1
Ok, cool. Thanks.

[2016-11-09 07:43] nicholasjackson commented on #1
@billabt i have the tests passing, im not so happy with the implementation due to the differences with udp and tcp but have tried to create a unified interface, will push to my branch this morning if you could review and then maybe we can look at a way of doing a 2.0 release which introduces breaking api changes for a more logical interface?

[2016-11-09 15:13] billabt commented on #1
Ok, let me know when you've pushed it and I'll take a look.  I'll be interested in what you think would be a more *logical* interface...  Thanks.

[2016-11-11 03:39] lacklock opened #28 "support iOS？"
support iOS？

[2016-11-11 04:14] billabt commented on #28
Yes, BlueSocket works as expected on iOS.

[2016-11-11 04:14] #28 closed

[2016-11-11 04:34] lacklock commented on #28
but readme deesn't claim that.

[2016-11-11 16:48] billabt commented on #28
It supports it. Look at the code. I'll update the README with the next release. Thanks.

[2016-11-19 00:36] joeblau opened #29 "Add Carthage Support"

[2016-11-21 15:02] billabt commented on #29
I know *of* Carthage, but that's about it. If you want to submit a PR with the Carthage support, I'd be happy to entertain it.

[2016-11-21 15:07] joeblau commented on #29
Alright, I'll try and submit a PR by the end of the week.  Carthage is just a package manager (like SPM) which requires a framework target for specific platforms.  I didn't look into what the issue was but it shouldn't be complicated to fix.

[2016-11-23 07:38] Jackbt commented on #29
Carthage support is needed.

[2016-11-24 18:55] PuerkitoBio opened #30 "Plans for unix socket support?"
Hello,

I see you already support TCP and UDP (IPv4 and IPv6), are there any plans to support UNIX sockets? It is presumably doable via the `create(fromNativeHandle:address:)` static method, but there's some amount of tricky work to do to get the fd. Would be awesome to have that library provide similar support as the `net` package in Go's stdlib, all under the same unified and simple API (which i

[2016-11-28 22:47] billabt commented on #30
Thanks.  I'm working on adding that support.  Shouldn't be too difficult.  Assuming I don't get sidetracked by my other projects, I hope to have it in by the end of the week.

Also, fyi, the UDP support is currently incomplete.  Someone was going to be submit a PR to add it but I guess he's lost interest.  That'll be next on my **TODO** list.

[2016-11-28 22:48] rfdickerson commented on #30
Do we have a use-case for the UDP socket yet? Maybe the Applications team could come up with something interesting like a multiplayer game server or video streaming.

[2016-11-28 22:51] carlbrown commented on #30
I'd use UDP Sockets for the upcoming `memcache` client if they were available (assuming, of course, that I can get writing the `memcache` client moved to the top of my ToDo list).

[2016-11-28 23:29] billabt commented on #30
I'm going to get the UNIX sockets working first.  Then I'll go after the UDP stuff.  I've already got the APIs for UDP in already but they don't do anything except throw a *NOT SUPPORTED* exception.

[2016-11-28 23:32] carlbrown commented on #30
@billabt: No rush on my account.  Memcache can use either TCP or UDP (although I tend to prefer UDP on small clusters on switched networks), and most of the code I would be writing is the same in either case.

[2016-11-29 15:28] billabt commented on #30
Support for UNIX sockets added as of version 0.12.3.  Closing issue.

[2016-11-29 15:28] #30 closed

[2016-12-01 23:46] Jumhyn commented on #1
@billabt I've been toying with adding UDP support as well, was wondering if you had any further thoughts or guidance since this discussion. Otherwise, will update you when I have pushed to my branch.

[2016-12-02 00:08] Jumhyn commented on #1
In particular, would love to know if you have thoughts about the API for `read(into:from:)`. The signature of recvfrom translates most directly to an `inout Address` parameter, but this isn't very Swifty, IMO. Could also return a tuple of `(Int, Address)`, or drop `read(into:bufSize:from:)` to keep only methods where the data argument has embedded information about size (i.e. `NSMutableData`/ `Dat

[2016-12-02 23:08] billabt commented on #1
I'd probably build a basic function much like I did for TCP's `read(into: bufSize)` and then build out some convenience functions around it like the TCP functions `readString()` and `read(into:)` where the resultant size being returned is not necessary.

[2016-12-04 08:51] nicholasjackson commented on #1
Hey @billabt my branch is now complete, keeping interface compatbility was akward due to differences with TCP and UDP for example in the listen phase in UDP which does not exist.  To get around this I have implemented the UDP read into the block acceptClientConnection phase with read just returning the buffer.  This does not allow for the return of the connecting address which is allowed with UDP

[2016-12-04 21:01] Jumhyn commented on #1
@nicholasjackson Have you pushed? I've had some thoughts about the interface as well and would be interested in seeing what you've come up with, but I don't see the changes on your fork.

[2016-12-05 14:45] billabt commented on #1
Neither do I...

Seems to me that only interface change that's needed is relatively simple.  The two `read` APIs should return a tuple, containing number of bytes read and the address they were read from...

Am I missing something?

[2016-12-05 20:06] billabt commented on #1
I've added the following stubs to BlueSocket...  Any comments appreciated...
For listening
[code]
For reading
[code]
For writing
[code]
I believe that these will cover most if not all of the UDP cases...  The other APIs are connection-based and not applicable to UDP.  Finally, since all these APIs are *NEW*, there will be **NO** source breaking changes since the existing API does not change.

Any

[2016-12-05 20:32] Jumhyn commented on #1
That looks like about what I was thinking. However, for the `read` calls, we don't need the input `Address`. Since `recvfrom` accepts data from all addresses and simply returns the address in the `struct sockaddr *` provided, the input value is ignored. Without this parameter, however, the UDP and TCP calls become ambiguous. I have submitted a pull request with a proposed fix (namely, rename `read

[2016-12-05 20:48] Jumhyn commented on #1
It should probably also be considered whether we want the possibility of any kind of general interface across UDP/TCP. As it stands, entirely separate methods must be used between the two, whereas calls to the C API are basically agnostic once you have done the appropriate setup (via `listen`/`connect`, etc.).

[2016-12-05 20:54] billabt commented on #1
This is true, but unfortunately, it's not as clear exactly what you're doing...  With this API, it's very, very hard to confuse matters.

[2016-12-05 20:57] billabt commented on #1
Here's the alternative I came up with for `read`.
[code]
This resolves the ambiguity...

[2016-12-05 21:12] Jumhyn commented on #1
Fair point. The only issue I see with an `inout Address` parameter is that it requires the creation of a 'dummy' address preceding the call:

[code]

since Swift doesn't allow you to pass parameters (even `inout` parameters) before initialization.

 I would also say that the above solution is less clear. We aren't really reading 'from' the address labeled `from`. Instead `address` is acting purely

[2016-12-05 21:32] billabt commented on #1
You're right, let me stew on it overnight...  Unfortunately, I've already checked it in. 😝  But, it doesn't break anything.  We may end up back at your original PR and `readDatagram`, after all, we already have a `readString`... 😃

[2016-12-05 21:38] Jumhyn commented on #1
Ok! I'll resubmit the PR when I have the chance, feel free to sleep on it to see if you can come up with anything better :)

[2016-12-05 21:39] billabt commented on #1
Don't worry about the PR, I had edited my comment.  I guess you didn't see the change.  We'll go with `readDatagram`...  I just checked in the changes.

[2016-12-05 21:41] Jumhyn commented on #1
Whoops, didn't see the edit. Sounds good!

[2016-12-06 20:48] billabt commented on #1
@Jumhyn:  Do you want to take a crack at creating an easy way to create and `Address`?

[2016-12-06 20:50] billabt commented on #1
Oops, didn't see you already did it in the PR.  Great!!!

[2016-12-06 20:51] Jumhyn commented on #1
Haha yep! Ran into the same issue while writing the UDP test 😃

[2016-12-06 21:17] billabt commented on #1
I'm not sure why things built for you or why CI built as well...  Strange.  Had to make changes, moved your helper method to the `Socket` class level along with other utility type methods.

[2016-12-06 22:19] Jumhyn commented on #1
Hmm interesting... I'm not building on Linux, so that might be the issue?

[2016-12-06 22:20] Jumhyn commented on #1
It also strikes me that implementing a subclass such as `UDPSocket` might result in a simpler interface, though not sure if you'd want to head in that direction.

[2016-12-06 22:29] billabt commented on #1
Yeah, I figured you weren't building on Linux...  That's a requirement.  I've noticed couple of things in your latest PR that won't pass Linux muster.  I'll go over your PR in detail tomorrow.  As far as a subclass for `Socket` to be `UDPSocket`, you're right, I don't want to head in that direction. 😝  Because this is used by **Kitura** and a few other things around here, I can't afford to take ch

[2016-12-06 22:32] Jumhyn commented on #1
Great, thanks! I'll look into getting a Linux build environment set up.

[2016-12-06 22:37] billabt commented on #1
As far as why I've kept functions at the class level rather than adding them elsewhere, I find it much easier to deal with these types of functions at the highest class level.  Two reasons, it hides the implementation of the lower levels and makes it easier and less error prone to code.

[2016-12-06 23:59] Jumhyn commented on #1
Alright that makes sense. I've set up my Linux environment and have the tests passing there, just FYI when you have a chance to look again.

[2016-12-08 15:01] RenniePet opened #40 "Question: GCD and multi-threading"
Hope you have a moment to answer a newbie question - am completely new to Mac and iOS and Swift.

Was glad to find this project. Have looked at several other Swift projects for TCP but they're obsolete (written in older versions of Swift) or mix Objective-C with Swift or are overkill for my expected usage. Have now succeeded in building this project and running the test echo server program on a Ma

[2016-12-08 16:39] billabt commented on #1
UDP is now supported in version 0.12.12.  Many thanks to @Jumhyn for the assistance in making this happen.

[2016-12-08 16:39] #1 closed

[2016-12-08 16:42] billabt commented on #40
Yes, you're correct.  BlueSocket does not provide any multi-threading services.  **Dispatch** (aka GCD) is providing the multi-threading capability in test program.  **Dispatch** is bundled with and part of the Swift toolchain.

[2016-12-08 22:09] joeblau commented on #29
👍 Awesome! Thanks.

[2016-12-14 12:14] ileitch opened #44 "CocoaPod"
Any plans to release this as a CocoaPod?

[2016-12-14 14:59] billabt commented on #44
Not at this time but I would entertain a PR to support it.

[2016-12-14 14:59] #44 closed

[2016-12-16 09:05] ileitch opened #46 "Socket path corrupt?"
When listening on a socket which includes a directory in the path, the socket name appears to be corrupted/truncated/something.

For example:
[code]

Results in the file:
[code]

Printing the directory contents in Swift yields the string: `"ttipc.soc\u{01}"`

Ultimately the client is unable to connect because it cannot find the socket.

However, if I first change to the `/tmp` directory before lis

[2016-12-16 14:10] billabt commented on #46
I'm on vacation until Jan 2.  If I have time before then I'll try and take a look. Otherwise, it'll be first on my list.

[2016-12-21 17:54] ileitch opened #47 "Cocoapods specification"
This isn't a PR because I refuse to fill out [this BS](https://github.com/IBM-Swift/CLA).

* Head on over to https://gist.github.com/ileitch/6c1560d77bc2171118c2cb310ebe8336 you'll find the spec
* Copy it into the root of this repo as `BlueSocket.podspec`
* If you haven't already, install Ruby
* Install cocoapods `gem install cocoapods`
* Run `pod trunk push BlueSocket.podspec`

Please read this [

[2017-01-03 18:24] billabt commented on #46
Fixed in 0.12.17.

[2017-01-03 18:24] #46 closed

[2017-01-22 06:15] mitsuse opened #49 "UNIX domain scoket file is removed on closing client socket."
After accepting and closing a client socket, the request cannot reach the server anymore with a new client socket.

The socket file seems to be removed on closing not only server socket but client socket:
https://github.com/IBM-Swift/BlueSocket/blob/0.12.21/Sources/Socket.swift#L3230-L3236

Sources and commands to reproduce are as follow:

## Server（Swift 3.0.2,  BlueSocket 0.12.21)

[code]

## Cl

[2017-01-22 15:54] billabt commented on #49
Fixed in **BlueSocket 0.12.22**.  Thanks for reporting the problem.

[2017-01-22 15:54] #49 closed

[2017-01-26 21:36] RenniePet opened #50 "Nit-picking"
Looking at the source code, there's a tiny inconsistency between what the guard statement on line 938 does and what the following error message says.

(Are you interested in receiving this kind of information?)

[2017-01-26 21:52] RenniePet commented on #50
And while I'm at it ...

Line 398:
		/// Returns a string description of the information.

[2017-01-26 21:56] RenniePet commented on #50
And the inconsistency I noted in my first message is repeated four other places.

[2017-01-26 21:56] billabt commented on #50
Absolutely. I like clean, correct and concise code and comments. The more the merrier. 😀

[2017-01-27 00:39] billabt commented on #50
I've corrected the *nits* you've found previously.  Feel free to send more my way.  Thanks.

[2017-01-27 00:39] #50 closed

[2017-01-27 02:28] RenniePet commented on #50
Glad you could use my input. If I find more I'll let you know.

And now for something completely different - see Stack Overflow  :-)

[2017-01-27 20:27] RenniePet opened #51 "TCP/IP buffer size"
This isn't an issue, it's just a request for advice.

I see you've set the default buffer size to 4 KB. I once wrote some TCP/IP I/O for C#, and I automatically assumed a buffer size of 64 KB would be best. But I don't really know. Do you know of any reasons why 4 KB or 64 KB is best or inadvisable? Thanks.

[2017-01-27 23:16] billabt commented on #51
Early on in development, we ran some tests and determined that the *4 KB* default buffer was the best size for *general* overall performance.  But there's no reason why you couldn't adjust that buffer size by setting the `<-socket instance->.readBufferSize` to some other value and see what kind of performance results you get.  For example, it would probably a good idea to increase the size of the

[2017-01-27 23:16] #51 closed

[2017-01-29 09:48] JenniferTimtim opened #52 "CNN298"
The beneficiary will work in…

For U.S. Postal Service (USPS) First-Class and Priority Mail Express deliveries

For overnight/courier deliveries (non-USPS)USPS

Maryland, New Jersey, or Pennsylvania

Premium Processing
USCIS Texas Service Center
P.O. Box 279030
Dallas, TX 75227-9030

Premium Processing
USCIS Texas Service Center
4141 N Saint  Augustine Dr.
Dallas, TX 75227-4818

Tennessee

Premium

[2017-01-29 13:29] #52 closed

[2017-02-04 14:10] lgaches opened #53 "Performance issues"
I've tried to use BlueSocket in [MongoKitten](https://github.com/lgaches/MongoKitten) which is a swift driver for MongoDB.

After replacing Vapor Socket by BlueSocket, I ran some performance tests. The results showed an important difference between the two implementations on MacOS and a huge one on Linux.

To run the test you can clone this [repo](https://github.com/OpenKitten/Statistics). Master

[2017-02-04 16:39] billabt commented on #53
Try running the same tests after changing the **BlueSocket** *readBufferSize* variable from the default, Socket.DEFAULT_READ_BUFFER_SIZE which is 4096, to 65507, the size that Vapor uses for it's internal buffer.  This can be done simply as illustrated below:
[code]
You'll want to change the buffer size *prior* to using the socket.  The default read buffer size for *BlueSocket* defaults to a relat

[2017-02-04 17:26] lgaches commented on #53
Thanks @billabt. I check that.

[2017-02-04 17:52] lgaches commented on #53
After adding `socket.readBufferSize = 65507`, I've pretty much the same result. No improvements.

[2017-02-04 19:52] billabt commented on #53
That's interesting. When I ran it here, I saw numbers slightly better than Vapor on Linux (about 5% better) and an almost a 20% improvement on macOS.

[2017-02-04 20:15] billabt commented on #53
@lgaches: Maybe it has to do with how you set up the database...  Can you post exactly how you set up the db so that I can follow the exact same steps you did?  Thanks.

[2017-02-04 21:10] michel-moreau commented on #53
I tried on my mac and found pretty much the same results as @lgaches

Darwin Kernel Version 16.0.0
Apple Swift version 3.0.2 (swiftlang-800.0.63 clang-800.0.42.1)

**VaporSocket**
Max : 1.69017899036407
Min : 0.931960999965668
Average : 1.07207236051559
Median : 1.0662505030632
Execution Time : 107.583873033524
Rounds : 100

**BlueSocket** (readbuffersize set to 65507)
Max : 1.85664600133896
Min :

[2017-02-04 21:50] billabt commented on #53
I had something not quite set up right here so I started over. 🤔  I was actually getting an error underneath the covers but it wasn't bubbling up.  So my initial results were skewed, it wasn't doing what is was supposed to. (That's what I get for working on Saturday 😃.)  I seem to have it working now and one thing I did notice was that in order for me to get your test program to run here, I had to

[2017-02-05 03:33] billabt commented on #53
The more I dig deeper into this the more I'm inclined to believe that the overall performance issue appears to be as a result of MongoKitten having been originally designed to use *Vapor* sockets.  This is evidenced by the usage of `[UInt8]` arrays for socket I/O.  When you converted it to use *BlueSocket*, you ended up doing a lot of conversions between `[UInt8]` and `Data` since *BlueSocket* pri

[2017-02-06 08:51] lgaches commented on #53
Thanks @billabt for all your investigations and I'm really sorry for your saturday. I'll check that and try to improve MongoKitten code to handle well BlueSocket.

[2017-02-06 17:23] #53 closed

[2017-03-15 22:28] eyerp opened #56 "UDP read operations"
Maybe I'm missing something, but I can't seem to seem to find a safe way to read from a UDP socket.  I'm sending a message and getting a response, but if the server doesnt exist then on read it's locking up.  I didn't see a safe way to check if there is data to be read.  isReadableWriteable() throws an error so I'm assuming that doesn't work with UDP because there is no connection.

The point it s

[2017-03-16 13:10] billabt commented on #56
In order to get you this functionality, I need to add two new functions.  The first will set the read timeout and the second will set a receive timeout.  Then you'll be able to set a timeout value prior to executing either a read or write operation.  If the server doesn't respond within the timeout period, the operation will fail with an appropriate error code.  I'll try to get to this over the we

[2017-03-16 15:29] eyerp commented on #56
Thank you, I'd much appreciate that.

[2017-03-16 15:58] billabt commented on #56
I had some spare cycles this morning.  The APIs have been added along with tests.  Take a look at the `testSetReadTimeout()` test for an example of usage.  The README.md has documentation for the new APIs.  These changes are in the latest version, 0.12.34.

[2017-03-16 15:58] #56 closed

[2017-03-16 16:32] eyerp commented on #56
Working perfectly, thanks again.

[2017-03-17 21:10] billabt commented on #47
Supported as of version 0.12.35.

[2017-03-17 21:10] #47 closed

[2017-03-23 14:40] radetsky opened #59 "Bad access error in Socket.listen (path) -> Signature -> line 552"
Hi guys,

I got a strange error. Steps to reproduce is simple.
1. Make a new project - command line tool for macOS in Xcode 8.
2. Copy Socket files as sources to new project. CocoaPods does not link framework to command line tool.
3. Make simple UNIX (!) Socket server
4. Run it - must be ok.
5. Change scheme to build release
6. Released command line tool will break in Socket.swift: 552-562 lines w

[2017-05-10 10:01] shanksyang opened #63 "multi-process problem"
When I use this library to integrate into Linux multi-process swift code, it occurs a fatal error while call the acceptClientConnection method, error message is : -9994(0x-270A), Invalid argument

 the code is below:

do {
    var socket: Socket? = try Socket.create()

    guard let listenSocket = socket else {
        print("unable to create socket...")
        exit(-1)
    }

    var isRunning =

[2017-05-10 15:13] billabt commented on #63
When I attempt to compile your test program, I get the following error:
[code]
It appears that _fork()_ is no supported by the Swift runtime.

[2017-05-10 15:26] shanksyang commented on #63
@billabt my compilation is ok, based on ubuntu 14.04 and swift 3, which platform and swift version do you use?

[2017-05-10 15:34] billabt commented on #63
I used Swift 3.1 and tried it on both macOS and ubuntu 16.04.  _fork_ support was purposely dropped in Swift 3.1 for issues like the one you're running into.

[2017-05-10 15:34] kweinmeister commented on #63
@shanksyang Just to be clear, are you using Swift 3.1? `swift --version`

[2017-05-10 15:47] shanksyang commented on #63
@billabt @kweinmeister ok, let me try alternative method using Swift 3.1

[2017-05-10 15:48] billabt commented on #63
Let me know how you make out.  Thanks.

[2017-05-11 05:23] shanksyang commented on #63
@billabt I used swift 3.1.1 on ubuntu 14.04, fork is ok, but the error is the same as before..

[2017-05-11 05:25] shanksyang commented on #63
let me try on ubuntu 16.04, but I need find this system to build .., back soon

[2017-05-11 13:34] billabt commented on #63
I'll look into it a bit deeper here as well...  I'll post anything I find.  Thanks.

[2017-05-11 17:18] billabt commented on #63
@shanksyang: I was able to reproduce the error on 16.04 with the released version of Swift 3.1.1.  I had been still using the _development version of Swift 3.1.1 prior_ which gave the error I alluded to earlier.  Strangely, the error still appears when I build the app on _macOS_ so I'm wondering if the fact I'm no longer getting the error on _Linux_ is a bug since they've obviously excluded use of

[2017-05-15 15:23] mna opened #65 "Connection timeout"
Hello,

It looks like there's no way to set a connection timeout right now? There's a read/write timeout that was added (awesome!) but it would be nice to have a connection timeout too.  From what I've read here (http://stackoverflow.com/questions/2597608/c-socket-connection-timeout, second answer is more detailed than accepted one), it involves setting the socket in non-blocking mode and using se

[2017-05-18 16:18] shanksyang commented on #63
@billabt I have encountered the same thing you posted，I was busy last week，2017@Swift China has been held in Shenzhen, I will continue to debug this issue this weekend. do you use strace to debug?

[2017-05-18 22:16] pixelspark opened #66 "Buffer overflow when reading into small buffer"
This doesn't seem right:

https://github.com/IBM-Swift/BlueSocket/blob/master/Sources/Socket.swift#L2491

When truncate == true, the memcpy copies self.readStorage.length bytes into the buffer passed as parameter, which has a smaller size (bufSize) than that!

Below the memcpy is correct:

https://github.com/IBM-Swift/BlueSocket/blob/master/Sources/Socket.swift#L2538

[2017-05-18 23:13] billabt commented on #66
I'll take a look. Thanks for the heads up.

[2017-05-19 13:33] billabt commented on #66
@pixelspark: You were right.  Must've been a cut/paste error.  Thanks for pointing this out.  It's fixed in the current release.

[2017-05-19 13:33] #66 closed

[2017-05-19 14:20] billabt commented on #63
@shanksyang:  I'm gonna write a _C-based_ version of the program to compare the flow with the Swift version.  The flow should almost be identical.  I've been debugging it using a _lldb_ and a debug version of _Glibc_.  It's failing deep into the _accept_ API but I haven't been able to determine the reason for it yet although it's beginning to look like it might be a Swift runtime bug, possibly a m

[2017-05-25 16:43] davidgyoung opened #68 "EXC_BAD_ACCESS connecting to a unix socket on MacOS"
I am getting  EXC_BAD_ACCESS trying to connect to a unix socket on MacOS 10.12.4 and IBM-Swift/BlueSocket 0.12.46.

 If I change this to be a TCP socket it works just fine.

    self.clientSocket = try Socket.create(family: Socket.ProtocolFamily.unix, type: Socket.SocketType.stream, proto: Socket.SocketProtocol.unix)
    print("Connecting to server")
    try self.clientSocket?.connect(to: "/tmp/ob

[2017-05-25 17:14] billabt commented on #68
You're right, it shouldn't crash.  I'll try to take a look at it...  Will advise.

[2017-05-26 16:05] niklassaers opened #69 "Add podspec to cocoapods?"
First of all, thanks for a great project.

You are maintaining BlueSocket.podspec, but I cannot see it listed on Cocoapods.org when I search for it. Would you mind submitting it there? Otherwise I'll gladly submit it for you.

Background: I'm in a team maintaining Theo, a Swift driver for the neo4j database. We've just added Bolt support (a transfer protocol) and it uses BlueSocket and BlueSSLServ

[2017-05-26 18:09] billabt commented on #69
@niklassaers:  Feel free to add both _BlueSocket_ and _BlueSSLService_ to the Cocoapods repo.  Thanks for the contribution and the help.

[2017-05-26 18:09] #69 closed

[2017-05-26 18:48] niklassaers commented on #69
Hi, I went to publish but got I was told only Matthaus Woolard or tfranklin had permission to do this. If any of them could type "pod trunk push" while in the BlueSocket directory that'd be great  (ping @tfrank64) (alternatively give me permission to publish, but I'm not quite sure what's needed for that)

[2017-05-26 20:29] billabt commented on #69
I'll check it out.

[2017-05-26 21:08] tfrank64 commented on #69
@niklassaers @billabt I've published both repos to cocoapods.

[2017-05-26 21:43] niklassaers commented on #69
Thank you :-)

[2017-05-28 12:58] pixelspark commented on #66
Many thanks!

[2017-06-16 21:49] randomstrings opened #71 "Deployment Target for macOS"
Hi,

I am building a macOS app with a deployment target of 10.10, and was getting errors about BlueSocket having a deployment target of 10.11. I opened the BlueSocket project and changed the deployment target to 10.10 and it compiles fine on 10.10. Just curious if there is any reason not to set the deployment target on the BlueSocket Xcode project to 10.10? That would expand its reach to projects

[2017-06-21 14:35] mna commented on #68
I can confirm the same issue on macOS 10.12.5 and BlueSocket 0.12.53. I used `redis-server --unixsocket <somepath> --unixsocketperm 700` as server and tested that it connected correctly with `redis-cli -s <somepath>`. This code fails with the bad access error in the call to connect:

[code]

Thanks,
Martin

[2017-06-21 16:05] mna commented on #68
I investigated a bit more, I think I have a fix, I'll send a PR soon.

[2017-06-21 17:12] billabt commented on #68
Sounds good. I look forward to it. Thanks.

[2017-06-21 17:19] davidgyoung commented on #68
I am also happy to test when a PR is ready

[2017-06-21 17:43] mna commented on #68
Cool thanks. Here's a minimal Xcode project to reproduce the issue (it's a plain Cocoa project with BlueSocket as Embedded Binary, installed via Carthage. UI is just a window with textbox to enter a path and a button to try to connect using the two lines I pasted earlier): https://github.com/mna/BlueSocketUnixSocketTest.

My first attempt was to write a failing test in BlueSocket, but there are al

[2017-06-21 22:20] #68 closed

[2017-06-21 22:45] billabt commented on #59
This should be fixed in the latest build (0.12.54).

[2017-06-21 22:45] #59 closed

[2017-06-25 10:32] radetsky commented on #59
Thank you very much. :)

[2017-07-20 02:59] Joebayld opened #74 "Feature Request: Support for multi-cast groups"
Hi there.

Would it be possible to give the socket support for joining multi-cast groups?

[2017-07-20 14:00] billabt commented on #74
Let me look into it a bit more. At first glance, it doesn't look like it'll be too difficult.

[2017-07-21 10:21] segabor opened #75 "Max port number is limited to 32767"
Why the type of port number is Int32 in the signature of `Socket.createAddress`?
TCP port range is 1-65535 so ports above 32767 cannot be addressed.
I suppose UInt32 type would fix it pretty easily.

[2017-07-21 10:37] segabor commented on #75
Sorry, this is not an issue as Int32 covers pretty well the port range.
So closing the ticket.

[2017-07-21 10:37] #75 closed

[2017-07-24 09:52] SelvaBalasubramanian opened #76 "How to set timeout for connect?"
I need to set timeout for socket.connect(ip ,port) how can I do it?

[2017-07-24 13:56] billabt commented on #76
The easiest way is to use the _isReadableOrWritable_ function.  The basic steps are as follows:
1. Create the socket.
2. Set the socket to non-blocking mode using _setBlocking(mode: false)_.
3. Issue the connect.
4. Call _isReadableOrWritable(waitForever: false, timeout: yourTimeout)_ function on the socket using your desired timeout.
5. If the returned tuple indicates that it's _writable_, you're

[2017-07-24 13:56] #76 closed

[2017-07-24 21:18] TheOkeland opened #77 "Inheriting BlueSocket"
Is there a reason that the Socket-Class is not open, so that we can use it as a Superclass?

[2017-07-24 23:26] jpap opened #78 "Bind UDP sockets to source port/address"
I'd like to control the source port (and optionally, interface/IP address) of outbound UDP packets.

This can be achieved by using bind (2).  It would be nice to have this as an additional API on the Socket class.

[2017-07-25 04:54] SelvaBalasubramanian commented on #76
I tried but the same problem occurs.The problem what I am facing is when the socket.connect(ip, port) starts executing it waits for some time to connect.

[2017-07-25 08:44] SelvaBalasubramanian commented on #76
here is the code!!
I need to implement a network scan...for availability of a particular ip and port...
`
    func searchController(){

        let ipString = "192.168.1."
        let port = 8286
        var k = 1

        let socket = try? Socket.create()
        while(k <= 255){

            let ip = ipString + "\(k)"
            try? socket?.setBlocking(mode: false)
            print("function

[2017-07-25 12:37] SelvaBalasubramanian commented on #76
i tried but it still waits in  socket?.connect(to: ip , port: Int32(port))

[2017-07-26 04:37] SelvaBalasubramanian commented on #65
@mna have u tried this...can you help me out with is case... i need fix a timeout for connect.
https://github.com/IBM-Swift/BlueSocket/issues/76
can you pls check the above issue and help me out....

[2017-07-26 05:31] SelvaBalasubramanian opened #79 "setBlocking does not satisfy the connect condition!!"
If we set the blocking mode to false then the connect should return immediately without any wait but here the connect remains in a waiting state!!

[2017-07-26 16:16] mna commented on #76
I can confirm the same behaviour for me on Darwin, see https://github.com/mna/testconnecttimeout to reproduce. Blocks on the call to `socket.connect` even though the socket is in non-blocking mode.

[2017-07-26 16:18] mna commented on #65
Yeah I tried it out and commented on #76, so it looks like a connection timeout cannot be implemented with the current API (without dropping to lower-level socket calls).

[2017-07-26 19:42] SolomonViveros opened #80 "UDP broadcast example"
Is there any example usage available to demonstrate setting the socket options[if necessary] to allow for a UDP broadcast using the  .write(from:,to:) command?

When I write to "192.168.1.255" I get a Udp write Error on a test network that allows broadcasts.

[2017-08-01 14:12] pixelspark opened #81 "Do not use SO_REUSEPORT on WSL"
In PR https://github.com/IBM-Swift/BlueSocket/pull/61 (https://github.com/IBM-Swift/BlueSocket/pull/61/commits/e639a3fd5e15445f32319f26936f0daf5fea0ca3), use of the SO_REUSEPORT socket option was added. This however causes issues on Windows Subsystem for Linux (WSL), which does not (and will likely never) support SO_REUSEPORT.

Strace shows the following:

[code]

By the way, SO_REUSEADDR works wi

[2017-08-01 15:40] billabt commented on #81
Fixed in the latest release, _0.12.57_.  It now will fail silently should the _errno_ be set to *ENOPROTOOPT*.  Thanks.

[2017-08-01 15:40] #81 closed

[2017-08-01 16:46] billabt commented on #65
There's a bit more to it than that.  I'm looking at it...

[2017-08-01 16:48] billabt commented on #79
I'm looking into this.  I'm seeing the same behavior here...  Been out sick for awhile now but trying to keep things moving along.  Will accept any offers of help.  😉

[2017-08-02 04:28] SelvaBalasubramanian commented on #79
Thanks for your respone!!...I to will try it on my side:)

[2017-08-02 15:57] billabt commented on #80
What error are you getting?  Can you show me some code?  Thanks.

[2017-08-02 15:59] billabt commented on #78
What would you like the API to look like?  It'll be easier to determine how best to implement it if I had a bit more of an idea of what you want.  Thanks.

[2017-08-02 16:01] billabt commented on #77
Can you give me a use-case for making Socket open?  What would you need to do that would necessitate have to inherit from Socket rather than extend it?  Thanks.

[2017-08-02 16:08] TheOkeland commented on #77
In my computer science studies we had the task to write a own TLS-like protocol. In this use case, considering object orientated programming, it is nice to inherit a socket, because you can override existing functions etc. Just extending would not work, because we wanted to provide the same API to the user, for example encrypt incoming data, so we had to override.
This also provided us the possibi

[2017-08-02 21:47] SolomonViveros commented on #80
It shows an SOCKET_ERR_WRITE_FAILED - Permission Denied

[code]
UdpPort = 1234
If the address is specified to a unique IP, data is sent, but when the IP is set to 255 an error is returned.

[2017-08-03 16:02] billabt commented on #80
This is fixed in the latest release, _0.12.58_.  I added a new API, _udpBroadcast(enable: Bool)_, that you should call after creating the socket and before attempting to write to it.  See the documentation in the _README.md_ for more info.

[2017-08-03 16:02] #80 closed

[2017-08-03 18:43] billabt commented on #77
Take a look at _BlueSSLService_ (https://github.com/IBM-Swift/BlueSSLService).  This does essentially what you want to do using established TLS protocols.  However, instead of inheritance, it uses a _delegation model_.  Take a look at the _protocol SSLServiceDelegate_ in Sources/SocketProtocols.swift.  The hooks for you to provide a TLS-like protocol are already in _Socket_, you just have to take

[2017-08-03 18:54] SolomonViveros commented on #80
After updating and setting UdpBroadcast to true, a Permission denied error is returned when using the testReadWriteUDP() example function where hostname = "192.168.1.255" and port set to 1234.

Are you able to confirm a "Hello from UDP" udp broadcast across the network using the testReadWriteUDP example function?

[2017-08-03 20:08] SolomonViveros commented on #80
Awesome! Works now. Thanks!

[2017-08-04 17:25] billabt commented on #79
I think I've found the problem.  Hope to have a fix posted over the weekend.  I've got the code complete but haven't finished testing.  Will advise...

[2017-08-04 17:29] billabt commented on #65
I think I've found the problem.  Hope to have a fix posted over the weekend.  I've got the code complete but haven't finished testing.  Will advise...  With this fix, the new _connect_ API will look like this:
[code]
The `timeout` parameter is ignored if blocking is not turned off for the _Socket_.

[2017-08-06 14:27] billabt commented on #65
Decided to enhance the above a bit more.  You won't have to set the Socket into non-blocking mode to use the _timeout_.  You just have to supply a timeout value greater than zero.  Here's the new documentation for the _connect_ API from the README.md:

- `connect(to host: String, port: Int32, timeout: UInt = 0)` - This API allows you to connect to a server based on the `hostname` and `port` you pr

[2017-08-06 14:36] billabt commented on #79
The problem was not with the _setBlocking_ API but with the _connect_ API itself.  _setBlocking_ is working as expected.  I've enhanced the _connect_ API to take a timeout value.  If the value passed is greater than zero, the socket will be placed in non-blocking mode and underlying system connect function will be called.  The API will then wait for the prescribed timeout or a successful connectio

[2017-08-06 14:36] #79 closed

[2017-08-06 14:37] billabt commented on #65
Going to close this for now.  Feel free to re-open if you run into any issues.  Thanks.

[2017-08-06 14:37] #65 closed

[2017-08-07 13:33] billabt commented on #76
Fixed in 0.12.60.

[2017-08-07 23:13] vjbose opened #82 "Package Manager Documentation missing ".git""
dependencies: [
		.Package(url: "https://github.com/IBM-Swift/BlueSocket", majorVersion: <majorVersion>, minor: <minor>)
	]
Should be 	dependencies: [
		.Package(url: "https://github.com/IBM-Swift/BlueSocket.git", majorVersion: <majorVersion>, minor: <minor>)
	]

[2017-08-08 06:47] Joebayld commented on #78
Agreed.

This is likely what he is referencing:

http://cocoadocs.org/docsets/CocoaAsyncSocket/7.3.1/Classes/GCDAsyncUdpSocket.html#//api/name/bindToPort:interface:error:

[2017-08-08 19:39] billabt commented on #82
Fixed.  Thanks.

[2017-08-08 19:39] #82 closed

[2017-09-20 16:55] zirinisp opened #86 "swift package update stuck on BlueSocket"
I am not sure if this is a problem with your framework or something else.

I recently update to Xcode 9 and swift 4 (again this might not be relevant). When i try to run "swift build" or swift package update", the command never completes.

I tried running it with verbose enable and I get the following iteration, that keeps repeating for hours. Any ideas what might be causing it and how to resolve

[2017-09-20 17:41] zirinisp commented on #86
It appears that this was a dependency issue and SPM was not giving a warning or an indication of what was wrong.

I changed the dependencies and everything is running now

[2017-09-20 17:41] #86 closed

[2017-09-21 00:28] JacopoMangiavacchi opened #87 "Disable watchOS in the Podspec"
I saw watchOS is a supported platform on the pod and I tried to use it on a watchOS project but unfortunately I discovered Posix/BSD/Darwin sockets are not supported on real Apple Watch devices.

Sockets only works on simulator.

Basically when the BlueSocket initializer [Socket.swift init()] try to create a Darwin.socket handle on a real device it get a SOCKET_INVALID_DESCRIPTOR and then throw an

[2017-09-21 00:33] JacopoMangiavacchi commented on #87
If you need more context info I was trying to create an .ipv4 socket on datagram/udp on watchOS 4.0

try Socket.create(family: .inet, type: .datagram, proto: .udp)

[2017-09-21 14:57] billabt commented on #87
Fixed in the latest release.  Thanks for the report.

[2017-09-21 14:57] #87 closed

[2017-09-28 05:16] vicalloy opened #88 "if socketfd not available will get signal SIGPIPE and fail."
In function `private init(family: ProtocolFamily, type: SocketType, proto: SocketProtocol) throws ` will set SO_NOSIGPIPE to socketfd.
But in function `public func connect(to host: String, port: Int32, timeout: UInt = 0)` will reset socketfd, new socketfd don't set SO_NOSIGPIPE. if socketfd is not available will get signal SIGPIPE.

[2017-09-28 13:04] billabt commented on #88
Fixed in _version 0.12.69_.  Thanks.

[2017-09-28 13:04] #88 closed

[2017-09-28 13:10] #77 closed

[2017-09-28 13:10] #71 closed

[2017-10-05 16:11] italoBianchini opened #91 "how to use in objective-c?"
how to use in objective-c? There is nothing like it on the market!

[2017-10-06 15:15] billabt commented on #91
Unfortunately, _BlueSocket_ can _only be called_ from a _Swift_ module.  It can be used in a _hybrid app_ but can only be called from Swift.  You could write a small Swift module that exposes itself to Objective-C using the _@objc_ keyword and then write _small shim functions_ that call into _BlueSocket_.  At this time, that's the only way to use it from Objective-C.  _BlueSocket_ is using many of

[2017-10-06 15:15] #91 closed

[2017-10-06 17:28] Joebayld commented on #74
No worries man. Appreciate it!

[2017-10-09 07:50] mcfedr opened #92 "App extension api only"
Would be great if you ticked the box 'App extension api only' in the xcode project.

[2017-10-11 14:28] billabt commented on #92
Can you give me an idea what you’re planning on using it for?  Right now due to bug in Xcode, ticking this box results in exposing internal and private APIs something I’d like to avoid. Thanks.

[2017-10-11 14:44] mcfedr commented on #92
Hah, thats interesting, I am using it with a NetworkExtension PacketTunnelProvider

[2017-10-11 15:41] djones6 opened #94 "SO_REUSEPORT could lead to accidental port sharing"
I just discovered that I am allowed to start multiple instances of Kitura on the same port, without error (and in fact, on Linux, requests get distributed across them).  This is due to `SO_REUSEPORT` which is set on by default since PR #61 .

The PR implies it was targeting sharing only for _UDP_ ports, but this affects all listeners.  I wonder if this was intentional?

Prior to this change Kitura

[2017-10-11 16:02] billabt commented on #94
I can look into making it _optional_ but with current behavior as the default.  Would that work?

[2017-10-11 18:38] djones6 commented on #94
Thanks - I think that would work.

[2017-10-12 14:32] billabt commented on #94
Added the new parameter to _listen_ API.  See the README.md or code for more info.  Effective in version _0.12.74_.

[2017-10-12 14:32] #94 closed

[2017-10-17 07:36] k1x0r opened #95 "Question: Is there any issues using this library with iOS"
Hello,

I use this library in my iOS project in which it communicates to server via custom protocol. And it's important to me to have the same code on linux side.

However I found recommendation from Apple:

"In iOS, POSIX networking is discouraged because it does not activate the cellular radio or on-demand VPN. Thus, as a general rule, you should separate the networking code from any common data

[2017-10-17 12:39] billabt commented on #95
In my testing, there should be no issues using this library on iOS.  With that said, the answer to the topic you referenced on StackOverflow is correct.  Using _BlueSocket_ to open a **TCP** connection _will activate_ the radio and/or on-demand VPN.  However, if you want to use **UDP**, you'll have to _first_ open a **TCP** socket and either _listen_ or _connect_ (note: doesn't have to go anywhere

[2017-10-17 12:39] #95 closed

[2017-10-17 12:51] billabt commented on #95
To keep your code cross platform, you could do something like the following (if using **UDP**):
[code]

[2017-10-23 04:56] xbainbain opened #96 "README outdated"
In **Complete Example**, this line
[code]
create a an IPV6 socket.So try `telnet 127.0.0.1 1337` would not success. It would show:
[code]
So change it to `.inet` or use `telnet ::1 1337` instead will be fine.

And it seems that swift 4 doesn't support the use of`.Package(url: String, majorVersion: Int, minor: Int),` it will cause a compile error. It would be nicer if that be indicated in README.md

[2017-10-23 15:03] billabt commented on #96
They'll be a new release coming out in a few days.  I'll address these concerns and close the issue at that time.  Thanks for the input.

[2017-10-23 15:08] xbainbain commented on #96
Haha, okay. Looking forward to the new release. 😀

[2017-10-26 09:40] ffchung opened #97 "How to implement read how many bytes to data"
How to implement read how many bytes to data? Thanks

socket.read(into: &readData, len:Int)

[2017-10-26 13:22] billabt commented on #97
There's a function that does already.  Here's the excerpt from the doc:
[code]
- This function allows you to read data into a buffer of a specified size by providing an *unsafe* pointer to that buffer and an integer the denotes the size of that buffer.  This API (in addition to other types of exceptions) will throw a `Socket.SOCKET_ERR_RECV_BUFFER_TOO_SMALL` if the buffer provided is too small, un

[2017-10-26 13:22] #97 closed

[2017-10-26 14:09] billabt commented on #96
Fixed in version _0.12.75_.

[2017-10-26 14:09] #96 closed

[2017-11-02 19:31] robreuss opened #98 "Connection refused"
I get a "connection refused" message when attempting to connect in almost all contexts.

When I run the GitHub sample or my own code, I'm only able to make a TCP connection when running both the client and server on the same machine.  For example, if I compile the sample as a macOS app, I can connect from telnet on that machine (using `telnet localhost 1337` - `telnet 127.0.0.1 1337` does not work

[2017-11-03 14:16] billabt commented on #98
There was an error in the doc.  The problem is that the example code is using _IPV6_ and the _telnet command specified by the doc only works for IPV4_.  Try running the same code and connecting via the following command:
[code]
If that doesn't work, go ahead and re-open this issue but I'm pretty sure this is going to solve your problem.

[2017-11-03 14:16] #98 closed

[2017-11-03 18:15] robreuss commented on #98
Fixed.  Thank you sir!

[2017-11-03 18:17] billabt commented on #98
No problem. My fault for faulty doc. Thanks.

[2017-11-03 22:09] b69ca opened #99 "Can't Include BlueSocket As Linked Framework"
Hello,

Is is possible you can help be resolve this issue? I have tried searching the web and tried extensively to apply to suggestions provided to no avail. For reference I am using Xcode 9.

- I cloned the latest tag for the BlueSocket repository.
- I created a new project (Swift Command Line Project) and then added the Xcode Project file for BlueSocket
- I added the Framework (socket.framework)

[2017-11-09 19:54] robreuss opened #100 "Creating target for tvOS"
Any tips or a sample project for creating a tvOS target?

I've based my tvOS target on the iOS target.  The target name is Socket-tvOS and I've modified the Project Module Name setting to be "Socket".  Nevertheless, my framework project that contains BlueSocket does not compile because it cannot find the "Socket" module ("No such module 'Socket'").  I've done my best to carefully confirm all of th

[2017-11-09 20:04] robreuss commented on #100
I should note that the tvOS BlueSocket target I created **does** compile and produce a target.  It is simply that my framework cannot see it even though it is added to it's target.  My guess is that I've done something wrong in ensuring that BlueSocket tvOS target has the correct module name.

[2017-11-20 14:25] billabt commented on #100
I've added a _new tvOS target_ to the latest version, _0.12.77_.  Tested here and it seems to be fine.  Re-open the issue if you have an problems.

[2017-11-20 14:25] #100 closed

[2017-11-20 17:20] robreuss commented on #100
Works.  Thank you sir.

[2017-11-23 12:39] dirk68-fu opened #101 "Unable to Connect to UDP Port"
Hi,

I am trying to connect via UDP to a port on another computer or even localhost. Unfortunately I was not able to get it working. This is what I have (please excuse the !s in this test code):

[code]
on the other end _nc_ is listening like that:
` nc -u -l 1234`

I always get `SOCKET_ERR_GETADDRINFO_FAILED`

what am I doing wrong?

(Using xCode on macOS.)

[2017-11-24 11:51] italoBianchini commented on #91
thank you very much

[2017-11-27 15:28] billabt commented on #101
Take a look at the _testReadWriteUDP_ function in SocketTests.swift...  You have to remember that _UDP_ is a **connectionless** protocol.  You don't need to connect prior to write and reading from a UDP socket.  The test function that I referenced above should point you in the right direction.  Compare it with the _testReadWrite_ function which does the _exact same thing_ as the other function onl

[2017-11-27 15:28] #101 closed

[2017-11-27 15:32] dirk68-fu commented on #101
[facepalm] How stupid of me. ;-)
Could the error message be improved, in case someone else has the same problem or is that more trouble than it is worth?

[2017-11-27 15:39] billabt commented on #99
- In your project, go to the **Build Settings_**.
- Set the **Runpath Search Paths** to "$(TOOLCHAIN_DIR)/usr/lib/swift/macosx @executable_path"
- Set the **Framework Search Paths** to "$(inherited) $(PLATFORM_DIR)/Developer/Library/Frameworks"
- Add _SWIFT_FORCE_DYNAMIC_LINK_STDLIB=1_ and _SWIFT_FORCE_STATIC_LINK_STDLIB=0_ as **User Defined** fields (if not already present).

That should fix it.

[2017-11-27 15:39] #99 closed

[2017-11-27 16:36] billabt commented on #101
I could throw an exception if you call connect on a UDP Socket just in case someone tries it again. 😉

[2017-12-01 01:33] euwars opened #102 "Detect Close_Wait state"
In my project I'm using [Kassandra](https://github.com/IBM-Swift-Sunset/Kassandra), Which uses BlueSocket.
In my testings, after establishing the initial connection. When i stop the cassandra service, in Xcode i see the connection state changing to "CloseWait", but socket doesn't represent it.
In other words, when connection state is "CloseWait", Socket returns true to isConnected, isActive and is

[2017-12-01 16:13] billabt commented on #102
First question, did you _close the Socket_?  That should handle it.  The **CLOSE_WAIT** TCP state means that the local end of the connection has received a **FIN** from the other end, but the OS is waiting for the program at the _local end_ (i.e. your program) to actually close its connection. A simple _socket.close()_ should do the trick.  Feel free to re-open this issue if this doesn't solve it

[2017-12-01 16:13] #102 closed

[2018-01-03 03:19] vikivae opened #103 "when i try to create a connect to server , it always not permitted, how to solve it ?"
Error code: -9989(0x-2705), Operation not permitted

class conect {
    var mysocket:Socket?
    func sss(){

        do{
            mysocket = try Socket.create()
            try mysocket?.connect(to: "192.168.1.131", port: 31500)

        }catch {
            print(error)
        }
        print(mysocket?.isConnected as Any)
        print(mysocket?.isActive as Any)

    }

}

conect().sss()

[2018-01-03 03:23] XXIrene opened #104 "Any demo for tcp client?"
I am confused with the usage of the excellent library
Can anyone share a demo for tcp client?
Thank:)

[2018-01-09 20:18] qhua948 opened #105 "read(into: inout Data) resulting in Error -9982 Interrupted System Call"
What I am doing:
[code]

Added a `sleep(1)` after line 1 seems to resolve this issue, any idea why is this the case?
OS: MacOS
Swift: 4.0

[2018-01-09 20:29] qhua948 commented on #105
I tracked down the issue, it is from line 3452 of `Socket.swift`
[code]

[2018-01-15 15:52] billabt commented on #105
Can you tell me which _flavor_ of **connect()** you're using?  Also, a check of _socket.isConnected_ would be useful after the connect to ensure that you're actually connected to the server.  Finally, you should check to ensure that the socket is _writable_ before attempting to write to it.  You can use the instance function _isReadableOrWritable(waitForever: Bool = false, timeout: UInt = 0)_ to c

[2018-01-15 15:55] billabt commented on #104
Check out the _SocketTests.swift_ file.  Specifically, the _testReadWrite()_ function.  This function launches a server and then creates a client that talks to that server.  Re-open if you have any questions.

[2018-01-15 15:55] #104 closed

[2018-01-15 16:00] billabt commented on #103
I've tried to reproduce this on my systems and so far have been unable to.  The only differences are the parameters to the _connect_ function.  It seems to connect without fail all the time.  What is it that you're trying to connect to?  Once I know that, I can try and reproduce it here.

[2018-01-16 01:12] qhua948 commented on #105
Thanks for the response.

I was using `connect(host:port)` and I was checking for `isConnected` before using it.
But checking whether the socket it read/writable solves the problem in my case, perhaps this could be stated in the document more clearly?

[2018-01-16 14:27] billabt commented on #105
I'll look at adding some info to the documentation.  Thanks.

[2018-01-16 14:27] #105 closed

[2018-01-16 14:48] parvezq opened #106 "iOS: Does streaming audio / video supported by Bluesocket?"
Is it possible to stream audio / video from camera/microphone using BlueSocket on iOS? What I want to accomplish is to have an audio / video chat session using built in audio / video api from iOS (AVFoundation) along with BlueSocket. Any code snippet/ suggestion will be greatly helpful.
Thanks

[2018-01-16 15:13] billabt commented on #106
Theoretically, yes.  You should be able to use the _AVCapture_ APIs to capture the video from the camera/microphone and then use _BlueSocket_ to stream it out.  However, streaming it efficiently is going to depend on a lot of things.  _BlueSocket_ is simply a transport layer.  You'll have to worry about compressing and packetizing the data you get from the _AVCapture_ API **before** you transmit i

[2018-01-16 15:13] #106 closed

[2018-01-17 13:29] parvezq commented on #106
Hi,
1. We have connected 2 iOS devices with BlueSockets API.
2. We are simultaneously doing 2 things:
	1. capturing mic audio and writing it to socket.
	2. reading data and playing received audio buffer using AVAudioEngine.
3. For both the steps we are using AVAudioEngine class.
4. But we are not able to record and play it in any way.

I am also sharing my code snippet and wish to ask if you can t

[2018-01-17 13:57] sdrpa opened #108 "How to connect to hostname:port on a specific path (web socket stream)?"
I'd like to connect to eg.
wss://stream.binance.com:9443/ws/ethbtc@kline_1m

[code]

I get `SOCKET_ERR_GETADDRINFO_FAILED` error. I can connect if I provide only`wss://stream.binance.com` as hostname, but I also need to specify the path (/ws/ethbtc@kline_1m).
Could you help how to specify host and path separately, can't find correct initializer...

[2018-01-17 16:02] billabt commented on #108
I think that you're thinking more along the lines of _URLSession_ which is at a higher level than sockets.  The _BlueSocket_ API supports _low level_ socket access.  Try looking at the documentation for _URLSession_.  I think you'll find that that better suits your needs.  If you have any questions, feel free to re-open this issue.  Good luck.

[2018-01-17 16:02] #108 closed

[2018-01-18 00:31] cloeffler opened #109 "listen(forMessage data: inout Data, on port: Int, maxBacklogSize: Int = Socket.SOCKET_DEFAULT_MAX_BACKLOG)"
hello, i am trying to send a receive data over udp. And i am able to send just fine using the write function. But when i try to use the listen function above i keep getting "invalid argument". If its not too much trouble could someone give  me an example of using this listen function, and the init of all of the arguments. I think im creating  my Data object wrong or something

[2018-01-18 00:50] billabt commented on #109
Take a look at the _testListenUDP()_ function in **SocketTests.swift**.  That should give you a good idea of how to call the function.  Re-open if you need further assistance.

[2018-01-18 00:50] #109 closed

[2018-01-18 16:49] cloeffler commented on #109
thanks bill, ill try that

On Wed, Jan 17, 2018 at 4:50 PM, Bill Abt <notifications@github.com> wrote:

[2018-01-18 23:52] cloeffler commented on #109
hey bill, still not getting it. it seems like my udp port is listening but no data is coming in. Would you   happen to know if there is something on IOS you need to do in order to open the port? Or should this code be sufficient to open the port and start receiving.
here is the code i am using at the moment

` func testListenUDP() {

        let queue: DispatchQueue? = DispatchQueue.global(qos: .u

[2018-01-19 15:02] billabt commented on #109
What's on the other side of the UDP connection?  Is it your own server?  Is it always transmitting?  The code above **closes** the socket after waiting for the thread to start.  So, you're definitely not going to get any data that way...  The test function I pointed you too simply tests the functionality of that function.  You'll need different logic and more infrastructure.

[2018-01-19 16:28] cloeffler commented on #109
on the other side  i have a udp packet sending utility that sends continuously. But in the code above you see where i have put the print statments "listening",  by doing that i found that the code never moves past the socket.listen part of the code, so the socket never gets closed it just stays at socket.listen. In reallity ill i need to do is receive 1 message and then close the socket.

[2018-01-21 22:50] qhua948 opened #110 "Mem read 0x0 on 0.12.85"
Hi,

When I do a `isReadableOrWritable()` with a default TCP socket creation, I get a `error: memory read failed for 0x0`.

I can confirm this issue does not exist in 0.12.82.

[2018-01-22 14:35] billabt commented on #110
@AlanQuatermain:  Any chance you can take a look at this?  I'm a bit under the weather today...  It seems to be in the area related to the PR from you I just merged.  Thanks.

[2018-01-22 15:00] billabt commented on #110
@AlanQuatermain:  I did take a look at it a bit.  I looks like the problem is with fd_set.zero().  When that function is called, _self_ gets clobbered...

[2018-01-22 15:08] billabt commented on #110
@AlanQuatermain: If we can't get it fixed soon, I'll have to back out the FD changes temporarily...  This is going to break a few folks.

[2018-01-22 15:39] billabt commented on #110
The crash bug is now fixed in 0.12.86.  Let me know if you have any problems.  Thanks.

[2018-01-22 15:39] #110 closed

[2018-01-23 16:26] billabt commented on #103
Any updates on this from your end?  Is it resolved?  Please let me know so we can either investigate further or close the issue. Thanks.

[2018-01-23 16:32] billabt commented on #109
I’m trying to reproduce this and would like to know what UDP packet sending utility you’re using along with the contents of the packet you’re sending. Thanks.

[2018-01-23 18:02] TheSnowFox commented on #103
Hi,
I don't know if I should post on this tread or create a new one, but I think I have the same problem.
When I try to connect to my server from a Cocoa App project, I get:
`Error code: -9989(0x-2705), Operation not permitted`

I tried from command line project and it works perfectly...

Here is my code for the Cocoa App (Simple new project created from Xcode, without any multithread, just for te

[2018-01-23 18:22] shmuelk commented on #103
Isn't 127.0.0.1 on an iPhone, the phone itself? Maybe not in the simulator, if that's where you're trying to run the app.

[2018-01-23 18:25] TheSnowFox commented on #103
No it's a mac app.

[2018-01-23 20:26] cloeffler commented on #109
hey, here is the utility,
https://packetsender.com/

and the contents of the packet is   "hello from pc"
 to port 4055, <iphone ip>
udp

On Tue, Jan 23, 2018 at 8:32 AM, Bill Abt <notifications@github.com> wrote:

[2018-01-24 16:15] TheSnowFox commented on #103
I think I have found the answer.
In new versions of Xcode, I need to go to MyProject > target MyApp > capabilities > App Sandbox > check  Network Outgoing Connections (Client)
 I think it is closed for me...
Thanks

[2018-01-24 20:02] billabt commented on #103
Makes sense...  Thanks for the update.

[2018-01-24 20:02] #103 closed

[2018-01-26 23:02] AlanQuatermain commented on #110
Eep; I'll take a look at this and see what I can figure out. I;'m laid up with a broken ankle right now, so I have plenty of time on my hands.

[2018-01-26 23:17] AlanQuatermain commented on #110
At a guess, I think maybe I'm using the UnsafeMutablePointer.initialize(to:count:) method incorrectly. Maybe that's changing the pointer value instead of the contents of the referenced memory? Once Xcode 9.3 finishes installing I'll run it through a debugger a few times to see what actual effect that has (grumbles something about the slowest company-owned laptop he's seen in twenty years…)

[2018-01-26 23:20] AlanQuatermain commented on #110
…or not, since it apparently requires High Sierra and I'm not allowed to install that on my company laptop. Le sigh.

[2018-01-26 23:26] billabt commented on #110
Sorry to hear about the ankle. I just found out I need some surgery, not sure when but soon. I’ll find out Tuesday. Anyway, if I don’t respond real quick, you’ll know why. 🤪

[2018-01-26 23:27] AlanQuatermain commented on #110
Ooof. Getting old sucks, doesn't it…? 😕

[2018-01-26 23:28] billabt commented on #110
For sure!!! 😖

[2018-01-27 00:02] AlanQuatermain commented on #110
The calls seem just fine. The actual fd_set doesn't seem to be problematic. I suspect what's actually happening is that the zero() call is clobbering the return address on the stack.

[2018-01-27 00:09] AlanQuatermain commented on #110
Oops, yeah, found it. I'm setting `__fd_set_size` on macOS to be `__DARWIN_FD_SET_SIZE / MemoryLayout<Int32>.stride`, i.e. set-size-in-bits / number of bytes in an Int32. That last bit should be number of *bits* in an Int32. Oops. So `zero()` on macOS was blanking 256 bytes of memory, not 32 bytes. Sigh. Nice small fix, though.

[2018-01-27 00:30] billabt commented on #110
Cool. I added a new test for the function that was failing, assuming that passes now, go ahead and redo the PR. Then we can get it merged again. Thanks.

P.S. Take care of that ankle.

[2018-01-30 01:39] alessandro308 opened #112 "How get the broadcast bound local port?"
I'm trying to explain what problem I have. I need to broadcast a message and then, a device in a network, reply to me using the same address (IP:port) from where the broadcast message was sent.
In detail, I'm implementing the discovery protocol described [here](http://www.yeelight.com/download/Yeelight_Inter-Operation_Spec.pdf) for Xiaomi Yeelight Smart Bulb.

There a way to know which is the port

[2018-01-30 20:41] o2x7 opened #113 "Put deployment target back to 9?"
We still need to support ios9.  I have moved the deployment target back to 9 in a branch and it appears to work fine.  Is there some reason this needs to be bumped up to 10 and is there any way we could leave it as compatable as possible?

[2018-01-30 20:55] o2x7 commented on #113
Pull req here: https://github.com/IBM-Swift/BlueSocket/pull/114

[2018-01-31 13:48] billabt commented on #113
There's no issue with _BlueSocket_ using iOS 9 for a deployment target.  However, the SSL/TLS add-on for it, _BlueSSLService_, requires iOS 10 or higher.  Having them at different deployment targets causes issues when attempting to build a project that includes both.  Hence the change.  Keeping both at the _minimal target required for both_ of them eliminates a lot of confusion.

[2018-02-04 11:39] Bouke opened #115 "Thread Sanitizer reports possible data races"
When running the echo server from the readme through Xcode with thread sanitizer enabled, two possible data races are reported. These happen when the client sends `SHUTDOWN`.

# `isListening` (from Socket library)

* `close(withSSLCleanup: Bool)`  sets `isListening` from thread A
* `acceptClientConnection(invokeDelegate: Bool = true)` reads `isListening` from thread B

[code]

# `continueRunning`

[2018-02-06 22:00] andybiar opened #117 "How to read long strings"
Hey all,

I'm using this library (version 0.12.78) to send and receive some JSON Strings of 3000+ characters including escaped quotations ( \"  ) and escaped backslashes ( \\ ). I won't post my schema but I can probably generate another sample String if needed.

When I call `socket.write(from: String)` with a TCP ipv4 socket on one of these longer JSON Strings and read it on the other end, the rec

[2018-02-06 22:13] billabt commented on #117
I’ll take a look. If you could post a string that illustrates the problem, that’d be really helpful. Thanks.

[2018-02-06 22:36] andybiar commented on #117
I've been working on this a little more, and I think I was mistaken before. It looks like regardless of the buffer size of string, Data, or NSData, Darwin can choose how many send commands are required to send (Hence your loop on `write(from buffer`..)). My solution above doesn't work 100% of the time.

So now I'm left with what should be a pretty easy question.. Is there an elegant way to tell on

[2018-02-06 23:01] billabt commented on #117
Use the _isReadableOrWritable()_ instance function to see if the Socket has data to be read.

[2018-02-07 03:27] andybiar commented on #117
Ahh ok. I wasn't clear on the definition of readable or writable before, but that makes sense. Tested and resolved, will close issue. Thanks.

[2018-02-08 04:52] AjAlex opened #119 "Need example of a client."
Hello, can provide a complete example of a client, please? If possible, thank you in advance. 👍

[2018-02-08 15:25] billabt commented on #119
Check out the **SocketTests.swift** file. Specifically, the _testReadWrite()_ function. This function launches a server and then creates a client that talks to that server. Re-open if you have any questions.

[2018-02-08 15:25] #119 closed

[2018-02-12 23:57] andybiar commented on #117
Hey Bill,

Sorry to bother you again, but some issues came up that I can't attribute to anything other than unexpected behavior in `isReadableOrWritable()` at this time. My run loop looks like this on a tcp socket in Swift 4; is this the intended usage of isReadableOrWritable()?

Right now my observed behavior is that I'm seeing the first 1MB of my long string come in, and `isReadableOrWritable().

[2018-02-13 13:50] billabt commented on #117
Your check looks fine.  It'd be interesting to see the other side.  Is that also using _BlueSocket_?  So far, I've been unable to reproduce the problem.  I'm using your code as above but without knowing how the other side is sending, it's hard to reproduce your exact scenario.

[2018-02-13 18:48] jrau14 opened #120 "Socket not cleaned up on timeout; some socket descriptors cause crashes"
If I repeatedly try to open a connection with timeout specified, I eventually crash, with the message "Not enough bits to represent a signed value". The playground I used to isolate this issue looks like this:
[code]

Replace the IP with a valid host on the same network, but a port that isn't listening (I used 192.168.43.1 but that'll depend on your network I suppose).

I see the `connect` call bl

[2018-02-13 22:57] andybiar commented on #117
The other side is also using BlueSocket, a simple `try socket.write(from: longString)`. I'll look to get a playground running where I can reproduce the bug and post a link here, likely next week.

[2018-02-13 23:46] billabt commented on #117
Thanks Andy.

[2018-02-15 18:18] zzhao36 opened #122 "InputStream and OutputStream?"
Hi Bill,
    This is a really great library, thanks so much for sharing it! I'm a student trying to learn more about socket programming. My question is about simultaneous reading and writing of data. In iOS we have
InputStream and OutputStream. If I wanted to replicate that type of two way communication, would I
have to create two sockets to every device I wanted to connect to? Or is there some wa

[2018-02-15 18:56] billabt commented on #122
Thanks for compliments, much appreciated. InputStream and OutputStream are basically _wrappers_, each on top of low level socket. Therefore, in order to achieve that type of functionality, you need to create two sockets, one for reading and one for writing ideally on separate dispatch threads. This will allow you to do simultaneous communication. Hope this helps. If you anymore questions, feel fre

[2018-02-15 18:56] #122 closed

[2018-02-15 19:58] zzhao36 commented on #122
Hi Bill,
Thank you for the fast reply. I'm playing around with your EchoServer code, and trying to adapt it so it can run on iOS devices. One concern I have is when the user will background the application or put the iOS device to sleep. Is there a way for me to set "shouldKeepRunning" to false even when the thread is blocked at "socket.read"? Maybe there is a clever way to do it, ie send the sock

[2018-02-22 08:26] shinma opened #123 "crash on isReadableOrWritable"
I'm struggling with one crash since version 0.12.87 (so I'm stuck on 0.12.86 which works fine). It happens almost every time when I start application and in-between running. I was hoping to see fix in each version but it did happen so I'm writing this issue. It always happens when I try to execute **isReadableOrWritable**. Please take a look at the code below.

_Device: any iPhone 64-bit
iOS: 10 o

[2018-02-22 09:40] igorsquadra opened #124 "Find UDP source port"
Hello Bill,
first of all thank you for your work, that's amazing.
I'm trying to retrieve the source port while I'm listening data from a specific destination port.
I already know the ip and destination port but I didn't find a way to retrieve the source port.
Hope I was clear, thank you in advance.

[2018-02-22 17:16] ianpartridge opened #125 "Fatal error: Not enough bits to represent a signed value"
Reported on Slack by @Davidde94 - his Kitura app crashes intermittently with this:

[code]

Any thoughts @billabt ?

[2018-02-22 17:18] ianpartridge commented on #125
Looks like the connect() failed with EINPROGRESS and we crashed setting up for the select()

[2018-02-22 18:37] billabt commented on #125
Need more info or a repro scenario. It’d also be helpful to know if socket in question was in blocking mode or unblocked.

I’m still recovering from surgery last week but hopefully should be able to look at it either over the weekend or Monday.

[2018-02-22 18:41] billabt commented on #124
Are you looking for the local port the message came in on?

[2018-02-22 18:49] igorsquadra commented on #124
Basically my hardware has a WiFi module connected via serial port. The WiFi module send messages from its own source port to the port 123 (for example). The port 123 is the destination port, but I need to know the source port from where the message has been sent.

[2018-02-22 18:50] billabt commented on #123
I suspect that this problem and also the problem being seen in issue #125 is related to changes made in PR #110 and it's related PRs.  I never saw any of these problems prior to accepting that PR.

@AlanQuatermain:  Any ideas what could be causing this?  With the rash of bugs that have arisen since accepting this PR, _I'm considering rolling it back again_.

[2018-02-22 18:52] AlanQuatermain commented on #123
I’m not sure. We have unit tests covering these code paths don’t we? If we can reproduce the issue I ought to be able to resolve everything fairly quickly.

Sent from my iPhone

[2018-02-22 18:55] billabt commented on #125
I suspect that this problem and also the problem being seen in issue #123 is related to changes made in PR #110 and it's related PRs. I never saw any of these problems prior to accepting that PR.  I think there's a bug still lurking in there.

I've reached out to the author of that PR, @AlanQuatermain, to see if he has any insight into what could be causing the problems.  Since the problems never

[2018-02-22 19:00] billabt commented on #124
Can you post a little code snippet so I can see what APIs that you're using?  Also, if I don't respond for a little bit it's not because I forgot about it.  I just had some surgery and am still in _recovery mode_ so I'm not checking this as frequently as I normally do...

[2018-02-22 19:08] billabt commented on #123
The unit tests are covering _most_ of these code paths but probably not to the extent that it could catch these problems.  They seem to edge cases.

Take a look at issue #120.  This one is very similar to this case and the user reporting it provided code you can use in a _playground_.  Maybe trying that will give you a clue.  I'm still recovering from surgery and unfortunately can't sit (don't ask

[2018-02-22 19:58] billabt commented on #124
I was just thinking...  Did you try using the _class function_ **Socket.hostNameAndPort(from:)** by passing in the **Address** that you get back when you read the message?  That should do it.  I completely forgot about that function. 🤪

I'm going to close this for now.  Re-open if you have any questions.  Thanks.

[2018-02-22 19:58] #124 closed

[2018-02-22 20:24] billabt commented on #112
When you receive a broadcast message, an **Address** is returned that contains info you're looking for.  You can use the _class function_ **Socket.hostNameAndPort(from:)** by passing in the **Address** that you got back when you received the message.

Take a look at the function _udpHelper()_ in **SocketTests.swift** for a usage example...

I'm going to close this for now. Re-open if you have any

[2018-02-22 20:24] #112 closed

[2018-02-22 20:27] billabt commented on #125
Issue #120 is basically the same problem...

[2018-02-22 20:32] AlanQuatermain commented on #120
Hm, sounds like I need to cast to UInt32 for the bitfield manipulation, then cast back to Int32 for the rest. Shouldn't be especially difficult.

[2018-02-22 20:34] billabt commented on #120
Cool. Maybe add code to the test to test it out while you’re at it. 🤔

[2018-02-22 20:54] AlanQuatermain commented on #120
All done. The pull request is up with the fix for the `fd_set` error, all CI tests ran successfully. This should also fix #123 and #125.

[2018-02-22 21:09] AlanQuatermain commented on #120
…aaaand I've also added a fix for the orphaned socket descriptors now. That should about wrap everything up.

[2018-02-22 21:42] ianpartridge commented on #125
See #126 for a possible fix.

[2018-02-22 22:19] billabt commented on #120
Great, I’ll try and do the merge tomorrow morning. Thanks for the quick response. How’s the leg? Feeling better I hope.

[2018-02-23 11:19] Davidde94 commented on #125
@ianpartridge will try the fix now and let you know :)

[2018-02-23 14:06] billabt commented on #125
Fixed in _0.12.93_.

[2018-02-23 14:06] #125 closed

[2018-02-23 14:06] billabt commented on #123
Fixed in _0.12.93_.

[2018-02-23 14:06] #123 closed

[2018-02-23 14:06] billabt commented on #120
Fixed in _0.12.93_.

[2018-02-23 14:06] #120 closed

[2018-02-27 07:02] dudtnsla1 opened #127 "'import Socket' is not work. with cocoapods"
An error message is shown at 'import Socket'
The message is "Cannot load underlying module for 'Socket"
I really wan't to use this great project.

------------------------------- It's my Podfile------------------------------
platform :ios, '10.0'

target 'Shape_It' do

pod 'FacebookCore'
pod 'FacebookLogin'
pod 'FacebookShare'
pod 'Google/SignIn'
pod 'SwiftyJSON'
pod 'Kingfisher'
pod 'ImageSlidesh

[2018-02-27 07:35] dudtnsla1 commented on #127
I added another project at Podfile and pod install.
now BlueSocket works well

[2018-02-27 07:35] #127 closed

[2018-03-23 08:50] eugenijusr commented on #97
I had the same problem and this is what worked for me:

[code]

And then given you have the exepected `responseLength`.

[code]

[2018-04-03 15:20] lucJW opened #128 "connect not using right family when resolving Hostname"
Hi,

I've two iOS devices which are communicating via BlueSocket. The client is finding the server via Bonjour and thus uses the hostname of the server to connect to it (something like "yourIpad.local."). If the devices are on a "normal" WiFi, everything works. The sockets are created with
`Socket.create(family: .inet, type: .stream, proto: .tcp)`

If I now enable the personal hotspot on one devic

[2018-04-05 14:49] billabt commented on #128
You're right.  I've incorporated the change into _version 1.0.1_.  Thanks.

[2018-04-06 17:10] sean7512 commented on #74
I too am very interested in multicasting, since IPv6 networks do not support broadcast.  I may work on a pull request to add it in if I get around to it.

[2018-04-09 09:37] shinma opened #129 "nodename nor servname provided, or not known"
iOS: 11.3
Xcode: 9.3

When: on executing connect(to host: String, port: Int32, timeout: UInt = default) on Socket
Possible cause: getaddrinfo()

[2018-04-09 09:40] shinma commented on #129
.create(family: .**inet6**, type: .stream, proto: .tcp)

[2018-04-09 09:44] shinma commented on #129
Even though I'm not using IP address it shouldn't work like this. What if provider switches to IPv6 in the meantime.

[2018-04-09 13:55] billabt commented on #129
I've made a change to the signature of the _connect()_ function that corrects the problems but also allows for the caller to specify that only a socket of the family of the calling _Socket_ will be allowed.  The default is to allow connection to a socket of any family.  This change will be in the latest version, _1.0.2_, as soon as I get it posted.  Thanks.

[2018-04-09 13:55] #129 closed

[2018-04-09 14:03] billabt commented on #128
After doing some further research, the original behavior is correct.  However, there are cases, such as yours where this behavior is not desirable.  To accommodate that, I've added an additional parameter to the _connect()_ signature that when set to _true_ allows you to override the default behavior and restrict the connection to a socket of the same family.  This means that you'll have to make a

[2018-04-09 14:03] #128 closed

[2018-04-09 14:06] lucJW commented on #128
Thanks for the changes. Could you explain, why the original behaviour is correct?

[2018-04-09 14:16] billabt commented on #128
The original behavior is to allow for seamless connections in the event that the host changes from IPV4 to IPV6.  By changing it to what we originally changed it to, we lost that functionality.  I ran a number of tests on my test machine here on both macOS and Linux and both failed with the change in place.

I believe the problem you're running into is because the hotspot connection _only supports

[2018-04-09 15:05] lucJW commented on #128
But my socket is only listening on IPv4 and the connection is done via IPv4.

Why do I need to specify the protocol family in the constructor when the socket does not respect this setting?
Should we maybe adjust the constructor parameter to say something like "IPv4", "IPv6" and "don't care" !?

[2018-04-09 15:48] billabt commented on #128
You're correct, however when going thru hotspot, the **default** is IPV6.  There is **NO** IPV4 address available however, IPV6 will allow a pass through to IPV4 _if and only_ you specify it.

For example, suppose you have client using IPV4 and a server using IPV4.  Everything works just fine.  However, if the server upgrades to use IPV6, leaving the code as it was before the changes I just made w

[2018-04-10 04:45] purkylin commented on #92
Whether can use it in NetworkExtension?

[2018-04-10 07:01] lucJW commented on #128
Thanks for your explanations. After googeling a bit, I found that there some dual-stack implementations on the different operating systems - that was new to me.
But at the end I'm again wondering why I have to specify a Protocol-Family when I **create** a socket and this protocol is not respected when connecting (or listening).

I read about the Windows and Linux IPv4/IPv6 Dualstack implementation

[2018-04-17 11:00] lucJW commented on #128
@billabt what do you think of my suggestions above?

[2018-04-17 12:22] Tymolc opened #133 "Operation not permitted when trying to connect to a socket"
I am trying to connect to a local socket like so:

[code]

However, I always get an error `'Error code: -9988(0x-2704), Operation not permitted'`

I tried the suggestion in another ticket to check "Outgoing Connections" in the Xcode permissions and am not sure what to do anymore. The same code works on another machine. Are there some other Xcode settings I am missing?

[2018-04-18 18:39] billabt commented on #128
First, the breaking changes that would need to be introduced are, at this point in time, not acceptable.  Second, the changes you suggest are, IMHO, confusing.  The current **default** is the _normal, expected_ behavior.  The case you're describing and experiencing is, IMHO, an **edge** case.  In most circumstances, taking advantage of the dual stack implementation is what is desired.

[2018-04-18 18:41] billabt commented on #133
Let me see if I can reproduce the problem.  If you've got a complete test case that illustrates the problem and you can post it, that'd speed things up.  Thanks.

[2018-04-19 10:54] Tymolc commented on #133
Sorry, I hope you didn't put too much time into this. My problem was, that I wanted to access a unix socket in a Group Container folder, but I didn't give my Xcode app the permission to access this app group. After I added the folder name to the app groups, it worked.

[2018-04-19 10:54] #133 closed

[2018-04-22 12:34] Rickrk opened #134 "Read data with blocking"
In reading, if socket data was empty, it returns zero.
But how to wait for data to receive and then return data?

[2018-04-23 08:52] rtabassum11 commented on #117
i m trying to write long string, it producing error saying long massage, anyone can give me a simple example?

[2018-04-29 08:51] SwatGuard opened #135 "Connection refused"
Hello,
I am running the example as a server on my Mac and i'm able to connect to it using the terminal with the telnet ::1 <port>.
When I'm attempting to connect with the following code I'm getting Error code: -9989(0x-2705), Connection refused.
I'm using High Sierra on My hackintosh Mac and running iOS 11.3 on my iPhone.Firewall is Off on my Mac.
`
      do {
        let socket = try Socket.creat

[2018-04-29 16:39] SwatGuard commented on #135
I managed to solve the issue by creating a ipv4 socket instead of ipv6.

Thanks!

[2018-04-29 18:12] #135 closed

[2018-05-14 11:30] #134 closed

[2018-06-02 11:19] AliJalil opened #136 "Echo Server with GUI"
I use BlueSocket and create an EchoServer class in iOS, it's worked correctly but I need to use it with an interface, when I create an object of echoServer it's prevent GUI from responding, How can I resolve that?

[2018-06-21 03:23] wspl opened #139 "EXC_BAD_ACCESS when connect to unix domain socket"
I have a unix domain socket created by tokio-uds, and I can make connection with it normally by `net.socket` of node.js.

But when I connect to this socket via BlueSocket:
[code]
would cause crash at `Socket.swift:1927`:
[code]

If I use it this way:
[code]
Will throw an exception:
[code]

This problem is very weird, and I have confirmed that the cocoa's sandbox mechanism is turned off and that Fi

[2018-06-23 08:34] mowais786 opened #140 "import Socket not working on Ubuntu"
I am trying to compile Echoserver sample on Ubuntu and getting following error

/Development/src/EchoServer/Sources/EchoServer/main.swift:7:8: error: no such module 'Socket'
import Socket
            ^
**my Package.swift looks like following**

[code]

**and my main.swift starts like this**

[code]

[2018-06-25 16:05] billabt commented on #136
To fix this, you need to move code that's listening on the socket off the main (i.e. UI) thread.

[2018-06-25 16:05] #136 closed

[2018-06-25 21:02] billabt commented on #140
You forgot to declare the dependency for the target...  Package.swift should look like this:

[code]

[2018-06-25 21:02] #140 closed

[2018-06-25 21:05] billabt commented on #140
I also updated the README.md to make this clearer.

[2018-06-27 12:59] Rickrk opened #141 "Set read timeout doesn't work"
After setting socket timeout to `10000` using `setReadTimeout` method, when I run the application and it waits for the server's response, it will wait until I activate or deactivate breakpoints!!!!
![screenshot from 2018-06-27 17-21-51](https://user-images.githubusercontent.com/30596240/41975050-e51e3dae-7a2e-11e8-9ddc-540a3f5c2eb2.png)

So `setReadTimeout` method do nothing.

It's a strange behav

[2018-07-01 14:18] billabt commented on #141
Timeouts don't typically work in Xcode.  This has been a problem for a _very long_ time.  As far as the _setReadTimeout()_ function, that is working as it's supposed to.  This is the way the underlying BSD socket system works.  Take a look at the _SocketTests.swift_ methods that test the timeouts for example code.  Re-open if you have any more questions...

[2018-07-01 14:18] #141 closed

[2018-07-01 14:20] billabt commented on #139
Can you give me a more _complete_ example?  So far, I've been unable to reproduce the problem.
*Note:* I'll be on vacation until July 20th just in case you don't hear from me before then.

[2018-07-05 14:42] AliJalil commented on #136
Can you provide me a code to do that?

[2018-07-16 23:35] jaden-young opened #142 "LICENSE file still a template, doesn't contain copyright line"
Source files have copyright IBM, but the LICENSE file at the root of the project has neither year nor copyright holder.

https://github.com/IBM-Swift/BlueSocket/blob/e2f6aee81b9e316f61e173e8350cb69d7714ead8/LICENSE#L189

[2018-07-26 14:37] billabt commented on #142
The LICENSE file at the root of the project contains the Apache License...  Closing this issue as **not valid**.

[2018-07-26 14:37] #142 closed

[2018-07-26 14:53] jaden-young commented on #142
@billabt Sorry if I failed to communicate the issue clearly. The issue is that the license at the root of the project contains the Apache license **TEMPLATE**. It is not complete. According to the [Apache documentation](http://www.apache.org/licenses/LICENSE-2.0.html#apply), the line with "Copyright {yyyy} {name of copyright owner}" should be replaced with "Copyright 2016 IBM".

See the difference

[2018-07-27 23:19] billabt commented on #142
Fixed them ALL.  The other Blue* were missing it too.  Thanks.

[2018-08-12 20:55] qvacua commented on #139
I'm also getting an `EXC_BAD_ACCESS`. To reproduce with release 1.0.14 on macOS 10.13.6:

[code]

[2018-08-13 14:41] billabt commented on #139
I've added a test that basically mimics what you provided above and it passes without any problem on the _same_ version of macOS, _10.13.6_.  So, at this point, I still can't reproduce.

[2018-08-13 14:42] billabt commented on #139
I've issued a new release that contains the new test.  That version, _1.0.15_, is available.

[2018-08-13 16:40] qvacua commented on #139
@billabt Hm, that's odd. Here's what I did:

* Create a new Xcode Cocoa App project with unit tests
* Use Carthage to build BlueSocket and link, copy etc. the framework into the app and test targets
* Paste the above code to the `testExample()` and add `import Socket`
* Run the tests => `EXC_BAD_ACCESS`

But yes, if I clone BlueSocket and do `swift test`, everthing's fine... 🤨

[2018-08-13 16:51] billabt commented on #139
Can you zip up the project and send it to me?  Thanks.

[2018-08-13 17:01] qvacua commented on #139
Here it is: [SocketTest.zip](https://github.com/IBM-Swift/BlueSocket/files/2283933/SocketTest.zip)

[2018-08-16 22:41] alexisoyama opened #145 "How do you connect to a remote secured socket?"
I don't see anything inside Signature that is useful. Maybe SSLServiceDelegate but it seems like I can't provide the credentials.

Is it supported?

[2018-08-17 06:53] alexisoyama commented on #145
🤦‍♂️  https://github.com/IBM-Swift/BlueSSLService
closing this.

[2018-08-17 06:53] #145 closed

[2018-08-20 09:37] Crazyya opened #146 "CocoaPods import BlueSocket Error"
<img width="1536" alt="bluesocketerror" src="https://user-images.githubusercontent.com/11494538/44332666-227a5d00-a49f-11e8-9747-6e8d9571ba68.png">
I am reporting an error when referring to BlueSocket:

Binary operator '|' cannot be applied to operands of type '__int32_t' (aka 'Int32') and 'Int'

Can you tell me what to do, thanks

[2018-08-21 12:41] billabt commented on #146
Can you give me some more info?  Swift version, Xcode version, macOS version?  Maybe a small example illustrating the problem.  It builds fine here in my tests.

[2018-08-22 01:02] Crazyya commented on #146
Sorry, I have no problem with creating a new project reference. It should be caused by my previous project. I will check the reason myself, thank you!

[2018-08-22 01:02] #146 closed

[2018-08-26 19:44] svdo commented on #74
Would love to have this too. @billabt @sean7512 Any progress on this, any WIP that I can have a look at? I may be able to give a hand.

[2018-09-01 05:26] jifang commented on #146
I was having the same issue by accidentally set the pod iOS platform to 8.0. Change it to 10.0 will fix this problem

[2018-09-03 02:26] daihieptn97 commented on #109
Hope it can help you
[code]

[2018-09-04 14:32] billabt commented on #139
I was able to run your project without issue...  Are you still having the problem?

[2018-09-04 19:27] mcfedr commented on #113
I'm actually using both BlueSocket and BlueSSLService on iOS 9.3 with no issues. I'd really like to make a PR to both projects with change to iOS 9 target if @billabt would be open to it.

[2018-09-05 05:32] qvacua commented on #139
@billabt I was able to reproduce it more easily:

- Checkout my fork: `https://github.com/qvacua/BlueSocket.git`
- Open the Xcode project and run the tests

I changed the following in my fork:

- Use the `Release` configuration for the test target (on macOS)
- Remove `@testable` from the import statement (not possible due to the `Release` configuration)

When I run all tests I get the following at

[2018-09-07 11:39] MaxiHuHe04 opened #148 "Not safe for use in application extensions"
I have an iOS app with an application extension (Share) where I need sockets. When I build the project with BlueSocket, XCode gives me a warning:
[code]

[2018-09-07 15:39] billabt commented on #148
Check out this thread —> https://bugzilla.mozilla.org/show_bug.cgi?id=1127505

That should help you. If not reopen the issue.

[2018-09-07 15:39] #148 closed

[2018-09-07 15:43] billabt commented on #113
I’ll do some testing here and if it work out, I’ll make the change. Reopening so I don’t forget. 😉

[2018-09-07 16:42] mcfedr commented on #113
I've been using myself:
https://github.com/IBM-Swift/BlueSocket/compare/master...mcfedr:signature-ios9
https://github.com/IBM-Swift/BlueSSLService/compare/master...mcfedr:ios9

[2018-09-28 08:51] qvacua commented on #139
I'm having the same issues with Xcode 10.0

[2018-09-28 21:18] billabt commented on #139
It took awhile to find it...  It turns out this is an _optimization_ bug.  When built optimized, the _path_ variable passed is for some unknown reason set to an empty string when passed to the function.  Not sure why it's happening but I plan to file a bug report with Apple.  In the meantime, you can change project to turn off optimization.

[2018-09-28 21:54] billabt commented on #139
I decided to look a bit deeper into this.  Turns out there was a buffer overflow happening in the initializer for _Signature_ but **only** when the optimizer was turned on.  This'll be fixed in the next release which should come out very shortly...  Thanks.

[2018-09-28 21:54] #139 closed

[2018-09-28 23:05] billabt commented on #139
Fixed in version _1.0.19_.  Let me know if you have any more problems.  Thanks.

[2018-09-29 08:31] qvacua commented on #139
Thanks! The issue is gone.

[2018-10-04 15:23] DhiruServer opened #149 "Error while creating server socket"
I am getting following error while starting the server socket .

**Server Creating Code : (EchoServer class is same in example )**
[code]

**Error :**

[code]

[2018-10-04 16:16] TyrfingMjolnir commented on #149
Did you try to run this on port 31337? Some of the ports below a certain number are restricted to be run by the superuser only.

[2018-10-04 21:13] billabt commented on #149
Definitely need more info...  A bit more of the code you're trying would help as well.  The example code provided runs from the command line. Is that what your program is doing?  Since you're just using the example code, any possibility you can upload a zip file containing the project?  Thanks.

[2018-10-07 14:52] DhiruServer commented on #149
yes ,  i am developing for mac OS in Xcode (Version 10.0)  my mac Os version is macHigh OS Seria (10.13.6 )
here is my Project file :
https://drive.google.com/open?id=1eiRV6btN8kYUJVgYl0UqHrxFrO-vpPF6

[2018-10-08 12:55] billabt commented on #149
You're trying to run the server on the main thread.  Effectively, you're blocking it when you start the server.  You need to start the server on it's own thread or dispatch queue.  Below is an example on how to do this...
[code]

*Note:*  This example is designed to run from the command line.  You'll have to make changes in order to get it to run interactively...

Let me know if you have anymore q

[2018-10-12 02:00] fabrijp opened #150 "IPv4 Address"
Sorry to ask this here but I just can't get answers from anywhere else ( man, i tried! ).

How can I get the IPv4 address inside the channelActive func handler ?

[2018-10-13 13:04] billabt commented on #149
I'm going to close this for now...  Please re-open if you're still having problems.

[2018-10-13 13:04] #149 closed

[2018-10-16 14:13] billabt commented on #117
Please re-open this issue if still a problem...

[2018-10-16 14:13] #117 closed

[2018-10-16 14:14] billabt commented on #115
This should be fixed now.  Re-open if not.

[2018-10-16 14:15] billabt commented on #113
Is this still needed?

[2018-10-30 16:44] Tulakshana opened #152 "Do you have an Android version?"
Thank you very much for this awesome library. It worked perfectly in iPhone. May I ask whether you'll have something similar for Android?

[2018-10-30 21:03] billabt commented on #152
Sorry, at this point there are no plans for an Android library.

[2018-10-30 21:03] #152 closed

[2018-10-31 02:43] Tulakshana commented on #152
No worries. Thank you for the quick response.

[2018-11-06 13:19] billabt commented on #113
Apparently _not_.  😉

[2018-11-06 13:19] #113 closed

[2018-11-06 13:21] billabt commented on #92
If needed, just flip the switch for your local project.  That bug is still present...

[2018-11-06 13:21] #92 closed

[2018-12-04 00:52] robreuss commented on #99
My issue is essentially the same so I thought it made sense to describe it here.  In my case, I'm attempting to build a framework containing BlueSocket as a dependency.  I'm able to build that framework without errors, but will I try to utilize it in an iOS view project, it builds but does not run on the device or simulator.  It gives me this error message:

`dyld: Library not loaded: @rpath/Socke

[2018-12-05 23:16] ssokol opened #155 "Socket.createAddress returning ipv6 address for ipv4 address"
This is a weird issue. I'm running iOS 12.1 on several devices, including a brand new 11" iPad Pro. On all of the hardware except for the Pro, the Socket.createAddress() method properly returns an ipv4 address. On the Pro, for some reason, calls to Socket.createAddress() with a broadcast address (in this case, 192.168.10.255) are being mis-recognized by the getaddrinfo() function as v6.

Any thoug

[2018-12-07 17:06] ssokol commented on #155
This may turn out to be a bug in the iOS networking stack. See:

https://forums.developer.apple.com/thread/111661

[2018-12-08 05:51] robreuss opened #156 "Trouble keeping a reference to a Socket"
It is unlikely this issue is specifically related to BlueSocket but I thought I would reach out anyway to see if I'm missing something about how sockets live.

My code is based on the sample.  A reference to the `EchoServer` class is maintained by a class instance (`Device`) that instantiates it and calls the `run` method.  Subsequent to a connection having been made, `Device` calls a method in th

[2018-12-08 12:44] billabt commented on #155
Can you try something?  Remove the SIM card from the iPad Pro and then try it again...  I'd _almost_ bet money that it'll work the way you expect.  Let me know.  Thanks.

[2018-12-08 12:51] billabt commented on #156
Any chance you can show some code?  The _EchoServer_ example keeps an array of connected socket instances that can be referenced by the instance variable _socketfd_.  Maybe your _Device_ class needs to pass the method that make use of the socket this variable so that it can be looked up in the array.  Can't be sure that's the problem with seeing some more code.

[2018-12-08 15:32] robreuss commented on #156
This is my version of _EchoServer_ called _TCPClient_.  It is the _send_ method, called from the _Device_ class, that fails because socket is nil.  You'll note that I replaced the dictionary that you use to hold multiple sockets with a single reference.  Each _Device_ class instance will have its own instance of _TCPClient_.

`
class TCPClient {

    static let bufferSize = 4096

    var continueR

[2018-12-08 15:41] robreuss commented on #156
I should mention, this is a client so it is loosely adapted from _EchoServer_!

[2018-12-09 13:34] billabt commented on #156
Can you send me the code that calls the _send_ method along with the _Device_ class?  One thing I did notice right off the bat is that you're closing the socket in the _addNewConnection()_ function.  While this won't result in the _socket_ var being set to _nil_ since you commented out that line, it will result in subsequent read/write failures...

[2018-12-09 19:52] robreuss commented on #156
Thanks so much for looking into this.  I've made you a collaborator for the project.  This is a very rough draft so the code might be hard to follow.  The core of the problem is in TCPClient, although I moved the connection (what was AddConnection) functionality over to the TCPServer file.  I'll look into the issue you mention above about closing the socket.

[2018-12-10 18:16] ssokol commented on #155
You are correct sir! As soon as I remove the SIM and restart the app, the getaddrinfo function works as expected and treats the value as IPv4. I'm working this with the support team at Apple, so I think you can close this.

Thanks! -S

[2018-12-10 22:34] robreuss opened #157 ""Address already in use" when handing off from NetService"
I'm running NetService with the listenForConnections option and port set to 0 when publishing, so a port is automatically selected.  When I try to listen on a socket with the assigned port, I get an "Address already in use" error.  In contrast, if I don't have the listenForConnections option on NetService and specify a port, everything works fine.  Any thoughts on how I can resolve this quandary?

[2018-12-12 23:41] #155 closed

[2018-12-12 23:45] billabt commented on #157
I'm not that familiar with NetService but it sounds like it's not setting SO_REUSEPORT on the socket it's listening on.  You might want to check an' see if that's an option.  Also make sure that when you call the _listen_ API, you set _allowPortReuse = true_.

[2018-12-13 00:13] robreuss commented on #157
I found the cause it was fairly obvious.  I was passing 0 for a port to NetService to obtain an automatically assigned, but when I reached the stage of starting up the BlueSocket listener, the port was still being report as 0.  I assume port 0 is already in use, so no wonder BlueSocket complains!  Now I need to figure out why I'm not getting a newly assigned port from NetService.  Thank you sir!

[2018-12-13 00:13] #157 closed

[2018-12-19 11:16] imueed opened #158 "Sending file progress iOS Swift"
1. Is there a way to track the progress of the file data that has been sent and the data that is left?
I'm trying to implement a progress bar that helps tracking the progress.
2. Also, is there a way you could stop transferring the file while the write function is still in progress?
When i'm writing something to the socket, the app freezes until the transfer is complete.

Thanks

[2018-12-24 12:01] pjlamber opened #159 "UDP Wifi Vs Carrier Network Behavior"
I'm trying to send UDP datagrams to a server. UDP is connectionless and so I should be able to just create the socket and send the datagram:

socket = try Socket.create(family: .inet, type: .datagram, proto: .udp);
try self.socket?.write(from: "Hello", to: Socket.createAddress(for: "xxx.xxx.xxx.xxxx", on: 1234)!)

The code works perfectly fine if my iOS device is on Wifi but if I switch back to my

[2018-12-26 19:30] pjlamber commented on #159
Thanks. I think I figured it out. What I noticed is that when I connect to my Wifi and I call Socket.createAddress(...), the family property of the object returned is 'inet' (ipv4). When I toggle back to my carrier network, same property's value is 'inet6' (ipv6). So the assumption is T-Mobile is using ipv6. However, i'm using 'try Socket.create(family: .inet, type: .datagram, proto: .udp)' to cre

[2018-12-26 20:18] billabt commented on #159
Ok. That makes sense. I’ll close this for now and you can re-open if necessary. Thanks.

[2018-12-26 20:18] #159 closed

[2018-12-27 14:13] billabt commented on #159
I ran a test here doing the same thing and sure enough got the same results as you.  I'm thinking that most carriers now are using **IPV6** as their _default_ now.  I know that any of the stuff I've worked on lately (not Open Source) that potentially uses _Wi-Fi_ always uses **IPV6** for just that reason.  I must've been on Christmas overload 🤪 yesterday when I looked at your note or I would've re

[2018-12-28 06:04] imueed commented on #158
Got it!
Thank you so much 👍

[2018-12-28 06:04] #158 closed

[2018-12-31 13:54] billabt commented on #78
I believe this requirement is satisfied with the changes included in version _1.0.38_.  Please re-open if you think otherwise. 😉

[2018-12-31 13:54] #78 closed

[2019-01-04 09:54] marcelofabri commented on #115
@billabt This seems to be happening for me on 1.0.43, can we reopen it?

[2019-01-04 10:20] marcelofabri commented on #115
From https://circleci.com/gh/realm/SwiftLint/14083:

[code]

[2019-01-04 12:53] billabt commented on #115
Yup. I’ll take a look. Thanks.

[2019-01-16 16:16] gboswood-hookbang opened #160 "Memory leak when writing large packets using TCP socket write"
I've embedded a fairly thorough comment at the location of the leak below.  I'm currently attempting to switch the TCP part to use SwiftSocket instead of BlueSocket, keeping the same structure.  With SwiftSocket the leak goes away, but it is having its own reliability problems and the API is inferior.  I'd rather get this done with BlueSocket.

The app here is using an electro-mechanical rig to ca

[2019-01-18 04:48] robreuss opened #161 "Failing to detect TCP disconnect during certain types of data transfer"
When the client is transmitting a repeating series of 64-bit messages and disconnects, I do not receive the zero byte message indicating a disconnect.

In contrast, I do receive the zero byte message when the client disconnects while not sending data.  Also, I receive the zero byte message if I'm sending a repeating series of 100K string messages.

[2019-01-18 12:46] billabt commented on #161
Can you provide a small test case? Thanks.

[2019-01-18 15:02] robreuss commented on #161
I'm afraid my TCP class doesn't operate well on it's own.  Would it still be useful if I created a simple test project on top of [my framework](https://github.com/robreuss/ElementalController) that should demo the problem by setting up a client/server connection and stream bytes?

[2019-01-18 15:08] billabt commented on #161
That’d definitely help. Thanks.

[2019-01-18 21:37] billabt commented on #161
No problem. Glad you found the problem.

[2019-02-02 02:41] jverkoey opened #162 "Feature request: Make Socket conform to Sequence"
E.g. a rough implementation might look like so:

[code]

[2019-02-07 21:36] duhanebel opened #163 "Unable to bind to source address UDP"
I can't find the way to bind to a specific interface/IP using the UDP socket.
I tried with something similar to:
[code]
But that way I don't receive any data. What am I doing wrong?

[2019-02-08 14:07] billabt commented on #163
What are you passing in the _node_ parameter?  The value must be a _String_ containing the _numeric_ representation of the address you’re trying to connect to.

[2019-02-08 14:09] billabt commented on #162
Not a bad idea. Can you give me a _usage_ example?  Thanks.

[2019-02-08 14:09] duhanebel commented on #163
I'm passing the ip of the wifi card as a string (in my case "10.1.0.16"). Is that right?
It seems like it binds properly (if I pass gibberish I get a unable to bind error) but after that I don't receive anything when I try to send. Wireshark sees the packet coming in though.

[2019-02-08 14:11] billabt commented on #160
Trying to reproduce but so far have been unable. Still trying.

[2019-02-08 14:13] billabt commented on #115
This should be fixed. Let me know otherwise and reopen. Thanks.

[2019-02-08 14:13] #115 closed

[2019-02-08 14:16] billabt commented on #163
Can you give me an example?  I’ve tried it here and it seems to be working fine.

[2019-02-08 14:45] duhanebel commented on #163
This is what I use at the moment: the data arrives to the interface but the code never goes past the `socket.listen` line.
If I don't specify the node and use directly: `func listen(forMessage data: inout Data, on port: Int, maxBacklogSize: Int` then it all works, but only locally if I send messages to 127.0.0.1.

[code]

[2019-02-08 14:57] billabt commented on #163
I’ll look into it a bit deeper. Hopefully I can reproduce it.

[2019-02-08 15:13] duhanebel commented on #163
Thanks, let me know if I can assist grabbing some extra debug data for you.

[2019-02-08 15:14] SwatGuard opened #164 "Deinit"
When does deinit get called ?
I'm using BlueSocket on a Mac running as a server and on a iPhone as a client.
The server runs some apple scripts when the client sends some keywords.
I noticed that I get memory leaks every time scripts are being executed.
I noticed that deinit is never called.
Any advice is much appreciated.

[2019-02-08 20:04] duhanebel commented on #163
After a bit of digging it looks like I get nothing on macOS (Mojave) but I get `Error code: -9992(0x-2708), Invalid argument` on Linux (ubuntu 18.04) when receiving a message on the socket

[2019-02-15 17:20] jinguohao1991 opened #165 "Got issue when creating address."
Hi, sorry for opening issue.
I tried to send packet using bluesocket.
And tried to create address using under the code.
let fullAddr = Socket.createAddress(for: "52.175.223.180", on: 20572)

But I get this issue.
expression produced error: error: /var/folders/gc/gz1q44bs4xjd4ns0f7t81dd80000gn/T/expr37-db24d6..swift:1:87: error: 'Socket' is not a member type of 'Socket'
Swift._DebuggerSupport.strin

[2019-02-15 17:32] #165 closed

[2019-02-19 14:18] PY4OG opened #166 "Unable to convert data to NSString"
Error code: -9974(0x-26F6), Unable to convert data to NSString
how to fix it!  - swift 4.2.1 Mac Os
[code]

[2019-03-08 23:56] gboswood-hookbang commented on #160
Some time later I found that with SwiftSocket the app leaked as well. It seems that when I used Data's Advanced(by:) function to advance the data buffer to retransmit the remainder of a large packet that didn't fully send (sometimes a message could take several partial sends when working wirelessly) a leak would develop.

Advanced(by:) makes a new buffer advanced by the amount already sent and it

[2019-03-08 23:56] #160 closed

[2019-03-10 16:48] JanX2 commented on #166
There is to enough information here to give a detailed answer.

The data sent by the server you are connecting to is probably not valid UTF8. Try reading as `Data` and validating that to see where on the server the issue might be coming from.

[2019-03-10 16:52] JanX2 opened #167 "README, Complete Example uses `unowned self`"
The [example](https://github.com/IBM-Swift/BlueSocket#complete-example) uses `unowned self` in an asynchronous queue. This is a bad idea for reasons outlined here:

https://stackoverflow.com/a/42543070

[2019-03-10 16:59] JanX2 commented on #167
I just ran into this myself: I was prototyping an NSDocument-based app where each document uses a Socket for client-server communication. Closing the document properly deallocated the socket, but the queue didn’t go away early enough as it was read-waiting in a loop (just like in many other example).

The loop in the queue would crash with “Attempted to read an unowned reference”, if `self` was de

[2019-03-10 17:03] JanX2 opened #168 "BlueSocket EchoServer from README as a separate repository"
It would be very convenient to have the BlueSocket EchoServer from the [README Complete Example](url
https://github.com/IBM-Swift/BlueSocket#complete-example) available as a separate repository.

[2019-03-10 17:06] JanX2 commented on #168
I had to completely rewrite the “Package.swift” file’s content to get the “Package@swift-4.swift” necessary for > Swift 4. Here is my result. It works, but please assume, that I have no idea what I’m doing as I am pretty new to Swift:

[code]

[2019-03-10 17:15] JanX2 commented on #164
Are you using queues? In this case they might be hanging on to the parent object with its reference to your Socket. You will have to signal the queue’s closure to end its listing loop and return so there are no more references owning the Socket object.

[2019-03-10 22:40] PY4OG commented on #166
Thanks @JanX2 . Is a way! Some idea to filter non-valid utf8 before converting to NSString.

[2019-03-11 12:46] JanX2 commented on #166
@PY4OG Fix your server. If something doesn’t use valid UTF8 then it should be fixed ASAP. :)

[2019-03-11 23:05] PY4OG commented on #166
thanks again @JanX2!   I understand, but in this case it is a large telnet network with many nodes and different server applications, running in hundreds of countries. I have no control over these servers. It work without problem in telnet cmd. I have to fix it on the iOS client. At moment I filter one line after catch, need to filter just not-valid utf8.

[2019-03-12 18:42] JanX2 commented on #166
Non-valid utf8 is just this: not UTF8 at all. If it’s a regular issue, I would recommend looking for something that cleans your input to be valid. Swift’s `String.decodeCString()` seems to fit the bill (untested).

[2019-03-12 20:32] PY4OG commented on #166
I will try! Thanks

[2019-03-12 20:32] #166 closed

[2019-04-23 22:36] davidjaystrauss commented on #129
What was the fix on this? I'm still having this error occur on socket create in 1.0.46

[2019-04-23 22:52] billabt commented on #129
@davidjaystrauss What error are you getting?  Can you give me an example of the code?  Thanks.

[2019-04-23 23:05] davidjaystrauss commented on #129
Hi @billabt, definitely!

We aren't specifying anything to the create method, as we're using this in parallel with BlueSSLService.

So for create we just call `try Socket.create()` and get `Error code: -9989(0x-2705), nodename nor servname provided, or not known`

[2019-04-23 23:09] davidjaystrauss commented on #129
Some more info:

After creation we specify host/port with `try socket.connect(to: self.config.getProxyHost(), port: Int32(self.config.getProxyPort()))`

[2019-04-24 21:43] billabt commented on #129
What is the value being returned by _self.config.getProxyHost()_?  The error you're getting indicates a _getaddrinfo()_ failure...

[2019-05-16 12:28] impresyjna opened #171 "Carthage problem on version 1.0.45"
Hi,
I have a question: when I try to download Blue Socket via Carthage using
`github "IBM-Swift/BlueSocket" ~> 1.0.45`
I have an error and information that build failed. But, what is really interesting, when I download this version and compile it in Xcode everything is fine.

What can be a problem?

[2019-05-16 13:06] #171 closed

[2019-05-23 11:07] bobongski opened #172 "TCP Write wont work"
I tried TCP using simulator and try sending string to my NIO server but in my server it wont go inside my function channelRead.

[2019-05-23 16:51] billabt commented on #172
I need a bit more info to be able to troubleshoot this. Any chance you can post some code that illustrates the problem?  Thanks.

[2019-05-24 11:55] bobongski commented on #172
[code]

[2019-05-24 11:56] bobongski commented on #172
Loading server works fine but after I try to write it it has a Socket Error.

[2019-05-24 12:03] bobongski commented on #172
The operation couldn’t be completed. (Socket.Socket.Error error 1.)

[2019-06-19 08:43] ianpartridge commented on #172
Any thoughts @billabt ?

[2019-06-20 13:05] JackyBaby615 opened #173 "BlueSSLService client cannot connect to stunnel server on windows"
I want to connect to stunnel server on windows by using this BlueSSLService client.
But I get an error when I create Socket with SSLService Delegate and connect to stunnel.
This is my function for creating client tls socket
`
func createStealthSocket() -> Socket?{
    var myConfig = SSLService.Configuration(withChainFilePath: self.cert, withPassword: "ghostman", usingSelfSignedCerts: true, clientA

[2019-06-21 19:51] billabt commented on #172
Can you try it outside the simulator?  I think permissions might be getting in the way when you use the simulator...

[2019-06-21 19:57] billabt commented on #173
You're getting a TLS Record with content type "Alert" (21), right?

This "alert" is used in SSL/TLS for notifying to close the connection. So it's quit normal to see "Encrypted Alert" at the end of a SSL/TLS session. Normally when there is no more data to send, the sender sends this TLS Alert.

What are you doing after you come back from creating the socket?

[2019-06-23 03:36] JackyBaby615 commented on #173
Thanks for your reply and Sorry for late responding.
I have debugged that when I connect to stunnel (SSLService.onconnect function- SSLService.swift), This function run SSLHandshake based on mac OS and proceed to "cipher spec exchange" through SSLCopyPeerTrust. After a some time, encrypted alert (21) notification is displayed.
So socket is closed before the write function is executed to send the d

[2019-07-05 01:58] dengfeng520 opened #174 "Swift 5.0 Build failed"
I imported my project through cocoapods，Swift 5.0 Build Swift  failed.
Wrong on line 750 of the Scoket.swift file,

[code]
How can I solve these problems, thx.

[2019-07-08 20:34] billabt commented on #174
It looks like you're using an **old** version of _BlueSocket_.  Can you provide a bit more information?  Maybe a build trace or log?  Thanks.

[2019-07-09 02:54] dengfeng520 commented on #174
Thanks for your reply.
I am using the **BlueSocket** version **(1.0.46)**. This is the latest version of CocoaPods.

[2019-07-11 12:37] ShaunMurph commented on #117
We can use alternate of isReadableOrWritable().

Code:

//1-Main function
func readStringFromServer()->String?{
        var jsonString = ""
        	guard let readData = NSMutableData(capacity:32768) else {return nil}
        var shouldKeepRunning = true
        repeat{
            do {
                let bytesRead = try socket.read(into: readData)
                if bytesRead == 0 {

[2019-07-11 18:29] andybiar commented on #117
Hey Sean,

This is the behavior I saw last year. I ended up just going into production
checking for my own termination string.

On Thu, Jul 11, 2019 at 5:37 AM Shaun Murphy <notifications@github.com>
wrote:

[2019-07-15 13:53] billabt commented on #174
I haven't been able to reproduce the problem here.  The other thing is that _line 750 in Socket.swift_ on my source shows the following code:
[code]
Can you send me your build trace?  Thanks.

[2019-07-17 11:29] Nathipha opened #175 "No reaction after timeout period has passed"
First of all: Thanks for writing a library that works with an FTP server and is easy to use!

I created a new app in Xcode 10 with Swift 5 and the latest version of BlueSocket (installed via CocoaPod) to test it and I've come across a problem:

If I try to write a command like `mysocket.write(from: "LIST\r\n")`, `mysocket.readString()` never returns anything, even after the timeout period has pass

[2019-07-17 14:20] Nathipha commented on #175
Sorry, my mistake! For e.g. "LIST" you have to write/send the code with the first socket but read the result with the second.

[2019-07-17 14:20] #175 closed

[2019-07-17 14:53] Nathipha opened #176 ""readString" not returning everything (FTP)"
First of all: Thanks for writing a library that works with an FTP server and is easy to use!

I created a new app in Xcode 10 with Swift 5 and the latest version of BlueSocket (installed via CocoaPod) to test it and I've come across a problem:

I can open a normal and a data socket to the FTP server and log in using `cmdsocket.write(from: "USER \(username)\r\n")` just fine (you can find a list of

[2019-07-18 14:58] dengfeng520 commented on #174
Thanks for your reply.
I upgraded**CocoaPods** and the build was successful.

[2019-07-18 15:36] #174 closed

[2019-07-29 13:53] Nathipha commented on #176
Found the problem:
BlueSocket stops taking answers if it get an empty one but with the server being slow and not sending everything at once, this resulted in not receiving all the data.

The solution:
Try again if there's an empty answer.

Code: Replace the `readString()` func in `Socket.swift` with this (then "Clean Build Folder" & "Clean"):

[code]

[2019-07-30 01:26] billabt commented on #176
Consider submitting a pull request with this change...  If you do, one required change you'll have to make though is to **default** _slow_ to **false** to ensure backwards compatibility with existing users.  As it stands right now, it'll probably break somebody since the way you've got it coded, you've changed the signature of the _readString()_ function.  The other thing to consider is making the

[2019-07-30 08:50] Nathipha commented on #176
Sorry, I have no idea how to commit via git.

If someone should come across the same problem, they can just use this code.
You're welcome to add it to the project though - with the changes you suggested. ;)

[2019-08-28 13:05] akshit5230 opened #178 "Binary operator '&' cannot be applied to operands of type '__int32_t' (aka 'Int32') and 'Int'"
Swift 4.2 Xcode 10.3

[2019-08-29 22:15] billabt commented on #178
Unable to reproduce.  Currently passing CI without problem using Swift 4.2.1.  Can you provide anymore info?  Thanks.

[2019-08-30 15:37] akshit5230 commented on #178
I installed this library via CocoaPods. When i tried to build it game 108 errors. They were from some utils file where 'mask' was written and Xcode was saying to convert it to Int32. Then somehow I was able to resolve all of them but then When I tried to create a UDP Socket server it didn't work.

[2019-08-30 15:37] #178 closed

[2019-08-30 16:15] billabt commented on #178
Were you able to resolve the problem?  Thanks.

[2019-09-23 07:51] jaideep824 opened #179 "Localhost Server - client : readData(), readString() not working on iOS."
Hi all,

Currently i am working on two applications which will installed on same device and communicate over socket. So for that we need a local socket server and local socket client.

So i have created server which has signature:
Optional(Signature: family: inet6, type: stream, protocol: tcp, address: Optional(Socket.Socket.Address.ipv6(__C.sockaddr_in6(sin6_len: 28, sin6_family: 30, sin6_port: 3

[2019-11-19 12:16] naimyag opened #180 "Fatal error: Negative value is not representable"
SocketUtils.swift 173

let bitOffset = Int(fd) % __fd_set_count
let mask = Int32(bitPattern: UInt32(1 << bitOffset))

if fd equals to 31
returns -1 and crash

Device: iPhone 5
IOS version: 10.3.4(14G61)

[2019-11-19 13:05] #180 closed

[2019-12-06 12:03] wojruc opened #181 "socket.read() freezes when 4096 or multiple of 4096 bytes in socket for readout"
Tested on Linux and MacOS and manifests on both.

Below is the reproduction pattern. Just copy/paste to SocketsTests.swift and run tests.

`

        func testReadX4096BytesIssue() {

		var data = Data()

		do {

			// Launch the server helper...
			launchServerHelper(family: .unix)

			// Need to wait for the server to come up...
			#if os(Linux)
				_ = Glibc.sleep(2)
			#else
				_ = Darwin.sle

[2020-01-17 10:19] lou-lan opened #182 "How should I support http?"
e.g. unix:///var/run/docker.sock

[2020-03-18 13:22] pekochun opened #183 "Where should I run the EchoServer Sample code in my program?"
I get an error when I try to launch the app by writing EchoServer.run inside ViewDidLoad as below. Where should I write EchoServer.run?

[code]

[2020-04-04 09:17] 97mik opened #184 "SIGSEGV: invalid address"
Sometimes got Segmentation fault crash:
[code]
Ubuntu 18.04, Swift 5.0.3

[2020-04-09 14:16] ggal625 commented on #164
I suspect this is due to the fact that the delegate hold a strong reference:

	public var delegate: SSLServiceDelegate? = nil {

I think this should be a `weak var` and the `SSLServiceDelegate` modified to be a `class` protocol.

[2020-04-23 18:09] marksmanalo opened #186 "Module Stability (Swift 5.1)"
Swift 5.1 introduces module stability which enables library compatibility at compile time (between different Swift versions). The stable module will have an additional swiftInterface which is the compiler’s representation of the public interfaces of a framework.

In order to active this feature the compiled framework will need to activate the BUILD_LIBRARY_FOR_DISTRIBUTION build setting.

[2020-05-31 14:05] SmackTO opened #188 "Longer than expected socket connection time for client"
Hi,

Socket connection times are taking longer than I expected.  Ten runs of this simple code results in an average connection time of 0.65 seconds.  The the client and "server.local" are both on my wifi network.

[code]

While this similar Python script results in average connection times of 0.024 seconds over 10 connects.

[code]

Am I doing something wrong or is this expected?

Steve

[2020-05-31 14:18] SmackTO commented on #188
Some more info:  Xcode 11.5 and Python 3.7.7 on MacOS 10.15.4.

[2020-06-08 07:38] IAntolK opened #189 "Attempted to read an unowned reference but object ... was already deallocated"
I've got a crash when was trying to write data to UDP socket:
`try socket.write(from: data, to: senderAddress)`.
Error occurred at: Socket.swift - line 3211.
You are using `unowned self` which results with "Attempted to read an unowned reference but object ... was already deallocated" error if socket object is deallocated before `write` completes.
Possible solution would be to use `[weak self].`

[2020-07-14 14:08] johannes87 opened #190 "Memory leak when using Socket.readString"
The following code results in a big amount of memory being allocated by the process that is not being released.
After 20k connections, the used memory of the process is more than 100MB. After removing the call to `readString`, the memory usage does not increase anymore. I tested this with BlueSocket 1.0.52.

[code]

The socket connects to a service that responds with "foobar" and closes the connec

[2020-07-14 15:02] johannes87 commented on #190
I noticed that when I run `dispatchMain()` after the loop (and changing the while condition to e.g. "i < 20000"), the process uses less memory again. Before the connection loop, the memory usage is about 6MB, and after calling dispatchMain it is about 25MB. The maximum amount of memory used was ~135MB.

[2020-08-04 21:53] zchacker commented on #106
Hi @parvezq  how are you?
does AVFoundation support playing audio from stream? what about Audio Queue Services?

[2020-09-04 13:55] Wazirri opened #191 "readAndPrint Message size"
Hello every one, I increase buffer size but message size is 1448 bytes so message does not come completely.

` let socket = try self.createHelper()
                socket.readBufferSize = 65507`

[2020-09-15 13:38] Pegolon commented on #181
Just discovered this issue, too. It is a rather annoying blocker. My solution was to increase the readBufferSize to 5 MB, since none of my packets will be bigger and I am using Unix domain sockets, but it would be much better to use a timeout and let not block the application.

[2020-10-01 08:10] igorsquadra opened #194 "Socket listen failed on iOS 14.0.1"
Hello everyone,
with update to iOS 14.0.1 (not tried on 14.0) I'm not able anymore to start Socket with `listen` method.
Here is my code:
`var listenData = Data.init()
                let message = try self.socket?.listen(forMessage: &listenData, on: self.destinationPort)

                let hexString = listenData.hexadecimal

                // If message is shorter than the default one (48 char

[2020-10-09 07:50] andrealufino commented on #194
I'm having the same issue. Did someone know if there are solutions or workarounds for this?

[2020-10-14 17:08] fb64 commented on #194
Hi there, got the same problem but it's working in debug mode and not through TestFlight (in release mode)...
Since iOS 14 an entitlement is required to listen UDP broadcasting : [https://developer.apple.com/documentation/bundleresources/entitlements/com_apple_developer_networking_multicast](https://developer.apple.com/documentation/bundleresources/entitlements/com_apple_developer_networking_multi

[2020-10-15 07:11] igorsquadra commented on #194
Hi @fb64 i already asked for the entitlement but Apple said we don't need it.
I'm also following this thread on Apple forum https://developer.apple.com/forums/thread/662082

[2020-10-19 09:42] igorsquadra commented on #194
Hi @fb64, did you receive any reply from Apple?

This is the reply I received:

_Thank you for your interest in Multicast Networking. It sounds like you’re using WebSockets to make a unicast UDP connection to your devices. If that’s the case, you shouldn’t need the entitlement, just add the usage description so your users know why you use their local network and you should be all set. See How to u

[2020-10-22 08:52] fb64 commented on #194
Hi @igorsquadra, FYI my request was approved :

_Your request to use Multicast Networking was approved. You can now add the Multicast Networking entitlement with your Provisioning Profile.
Instructions for using the entitlement are available and, for more information on using multicast, please read How to use multicast networking in your app. If you have questions or issues, please use the “Networ

[2020-10-22 13:52] igorsquadra commented on #194
Hi @fb64,
thanks for your update.
I just try with iOS 14.2 beta and it works well, so my problem is related to the current iOS version

[2020-10-23 15:06] fb64 commented on #194
Hi there, for information it's working well on iOS 14 in **release** mode.
After my request for entitlement was approved, I add the new network Capability to my App Identifier :
![image](https://user-images.githubusercontent.com/3306862/97020026-57880b80-1551-11eb-80b4-9932ae5ac919.png)
I just had to add few lines to my existing code to trigger the Apple permission Alert and everything working wel

[2020-11-10 10:47] Demmy27 opened #197 "Is it possible observe connection with client?"
Is it possible observe connection with client?  When we turn off wifi on client - socket didnt close. 'setReadTimeout' works like reconnection with timeout.

[2020-11-12 11:55] Demmy27 commented on #197
Problem was resolved, with ping-pong messages

[2020-11-12 11:55] #197 closed

[2020-11-30 06:40] cHicHillo opened #198 "Error code: -9980(0x-26FC), No route to host"
After finishing integrating your framework in my project, when testing this on physical devices, it doesn't work. I have added all the privacy guidelines in the info.plist. I received this error (Only in physical devices):

▿ Error code: -9980(0x-26FC), No route to host
  - domain : "com.ibm.oss.Socket.ErrorDomain"
  - errorCode : -9980
  ▿ errorReason : Optional<String>
    - some : "No route to

[2020-12-06 22:50] dannys42 commented on #198
Hi @cHicHillo just to confirm, does this happen regardless of destination?  (different domains and http/https?)

[2020-12-15 23:31] stonestclair opened #199 "'listen' function unable to bind address"
My code:
`var buffer = Data()`
`let socket = try! Socket.create(family: .inet, type: .datagram, proto: .udp)`
`_ = try! socket.listen(forMessage: &buffer, on: 50731)`

'listen' throws the error on line 2268 in Socket.swift:
`Error code: -9992(0x-2708), Invalid argument - on 50731`

Due to line 2253 failing to return '0':
`if Darwin.bind(self.socketfd, info!.pointee.ai_addr, info!.pointee.ai_addrle

[2020-12-16 16:28] #199 closed

[2020-12-16 19:00] dannys42 commented on #199
@stonestclair just curious if you found the issue?

[2020-12-17 14:29] stonestclair commented on #199
@dannys42 Each line of the code I pasted is in different functions, and I didn't realize that I was using the socket to send a UDP message first before listening on a port. As soon as I got rid of it, listen worked again.

I guessing that by sending first, the socket is getting bound to a different arbitrary port. So now I just have two UDP sockets, one for sending and one for listening.

[2020-12-27 13:11] devmkdd commented on #198
Hi @dannys42 ,

I'm currently facing the same error message as above but I'm not sure if this is on your side. Maybe you have a hint.

I've implemented a really small library for running ssdp searches as swift package and this is used within an iOS application.
https://github.com/devmkdd/TinySSDP
For doing the search I use BlueSocket, which is also entered as dependency within the swift package.

[2020-12-28 16:08] devmkdd commented on #198
@dannys42 I could test to the switch of the deployment target.
If I set the apps deployment target to iOS12, I can no longer connect. Until 11.4 everything works fine. Is this related to the introduction of the iOS Network Framework with iOS 12?

[2020-12-29 04:25] dannys42 commented on #198
@devmkdd I tried taking a look at TinySSDP, but I don't quite see how to run it.  Do you have another sample program I can test with?  If not, I'll see if I can put one together later this week.

[2020-12-29 20:29] devmkdd commented on #198
Hey @dannys42,
i've put together a small example at Github:
https://github.com/devmkdd/SSDP-test

It integrates my lib which references BlueSocket in version 1.0.52. Just changing the deployment target to iOS 12 leads to the described error when deploying to a real device. I've tested on an iPhone 8 running iOS14.3 and Xcode 12.3. (First tests were Xcode 12.0 and iOS 14.0).

[2021-01-02 18:32] dannys42 commented on #198
Hi @devmkdd, I found a discussion on the Apple [forums](https://developer.apple.com/forums/thread/658518?answerId=631476022#631476022) that suggests there might be two potential issues:
1. The interface may need to be bound for the broadcast
2. You may need the to [request multicast entitlement](https://developer.apple.com/documentation/bundleresources/entitlements/com_apple_developer_networking_m

[2021-01-27 16:10] squarefrog commented on #198
Hi all. I have the same issue, with a different socket library (I'm also doing SSDP searches).

I'm running a test with BlueSocket, and I think I can work around this by using BlueSocket. One thing to note, after connecting to the multicast group for SSDP (239.255.255.250:1900), the first message will ALWAYS fail with "no route to host". This also fails when using CFNetwork directly.

If you keep

[2021-01-27 16:19] lazlox commented on #198
I had the same issue on physical devices and requesting and adding the multicast entitlement resolved the issue. Took a couple of days to get it after the request.

[2021-01-27 16:26] squarefrog commented on #198
My understanding is this isn't a requirement **yet**; outside of the `Network.framework`. However, this is likely to change, so it's better to be prepared.

Your first hand account of it fixing the issue is promising though, I'll apply for it now.

[2021-03-31 11:08] Nathipha commented on #176
I'm still using the library and it looks like not only reading text is affected, images downloaded with `read(into data: inout Data)` are also downloaded only partially.

It's not possible not change that function because of the protocol, so I created a new one, using basically the same code as above, except that it appends to `Data` (which it already did before but not within a loop) and now it's

[2021-03-31 12:15] mbarnach commented on #176
@Nathipha Could you make a Pull Request for both issues? It would be an interesting features to have in case of slow connection. Let us know if you need any help to setup the process.

[2021-03-31 12:51] Nathipha commented on #176
@mbarnach
As I said, sorry, I don't know how to commit via git.

[2021-03-31 13:11] Nathipha opened #200 "Download multiple files"
I want to download multiple files from an FTP server. The first file downloads successfully but the second,... one always fails.

FTP commands:

    Login + connect cmdSocket
    cmdSocket send: PASV
    cmdSocket receive: 227 Entering Passive Mode
    cmdSocket send: TYPE I
    cmdSocket receive: 200 Type set to I
    Connect dataSocket to Passive Mode IP/port
    cmdSocket send: CWD myFolder

[2021-04-01 06:34] mbarnach commented on #176
Would that be OK if I do it for you? I will integrate your changes into a pull request and submit it here.

[2021-04-01 10:13] Nathipha commented on #176
@mbarnach Sure, go ahead. I'm currently not at the mac but I can post the other function (for the data one) here later too.

[2021-04-01 10:15] mbarnach commented on #176
Thanks. Could you have a look at #201 ?

[2021-04-01 15:07] Nathipha commented on #176
Here's my the other edited function:
[code]

I was just testing it with 9mb images but the first call never returns more than 430kb, so looks like the server I'm testing it with is especially slow - or maybe my internet is too slow and it stops receiving more data after a certain amount of time (is that a thing?). I was only able to get all the data by looping over the function until it retuns 0 b

[2021-04-01 15:16] Nathipha commented on #200
Found the problem:
In "stream" mode (which is the default setting afaik) a data socket can only be used for a single e.g. `RETR`. Afterwards it sends `226` and closes itself. `dataSocket.isConnected` then still returns `true` but another `RETR` only returns 0 bytes, use `dataSocket.remoteConnectionClosed` instead to check.

To download multiple files open a new data socket with a new passive conne

[2021-04-01 15:16] #200 closed

[2021-04-02 01:07] dannys42 commented on #200
@Nathipha Thanks for updating with your resolution.

[2021-04-03 06:18] dannys42 commented on #176
Hi @Nathipha thanks for the detailed description of the problem.  And thanks @mbarnach for expanding and submitting a [PR](https://github.com/Kitura/BlueSocket/pull/201).  I added more detailed comments there, but just for continuity, I'll put my suggestion here as well.

The short of it is that you're not guaranteed of data length in socket calls.  So your FTP application should do something like

[2021-04-08 11:04] Nathipha commented on #176
@dannys42
Did I understand your suggestion correctly? Leave both "read" functions the way they were originally and do that stuff in my own code instead, so something like:

[code]

This is what I added as a quick fix before I left a week ago because even though downloading data was more successful with the changes I made to the library itself, it still doesn't come close to finishing every time (a

[2021-04-08 21:33] dannys42 commented on #176
The general idea is correct, but if you're trying to make a TCP server that can listen and respond to multiple clients, that isn't usually the way you structure it.  I'll see if I can work out an example, but it might take me a while before I can get to it.  Have you worked with TCP sockets in other languages before?

[2021-04-09 09:02] Nathipha commented on #176
@dannys42
I made the same app for Java too, both using a library (by Apache) and working with Java's `Socket` direktly. The overall approach is the same of course because you're sending/receiving the same commands to/from the FTP server.
To be honest, I'm not trying to fix everything in BlueSocket. It's currently the only library that works (and wasn't last updated a 5+ years ago) and I just want

[2021-04-13 07:06] dannys42 commented on #176
Thanks @Nathipha, I can sympathize with wanting to get your FTP server done and not having to dig too far into BlueSocket. For what it's worth, this is pretty typical behavior for low-level sockets.  Reading your edit, I believe what you're doing now in your `readSlowly` call is correct.

I managed to write some tests over the weekend to confirm whether or not there are any issues in BlueSocket an

[2021-05-29 20:17] devmkdd commented on #198
Requesting the entitlement did also work for me now.

[2021-06-15 13:17] kelada commented on #198
I am using `BlueSocket`via  https://github.com/pierrickrouxel/SSDPClient and have run into the same issue.

Rather than requesting the entitlement other have mentioned above, I opted to switch back to Xcode 12.4 - this has worked for me. Both Xcode 12.5 & 13 beta throw this error when running on a physical device.

Note: I don't know if this will be an issue when submitting to app store down the l

[2021-06-15 13:19] squarefrog commented on #198
@kelada it will be an issue. It affected us in production. Request the entitlement now. It’s quick and easy and you only need to request it once, then you can use the entitlement across as many apps as you want, providing they are under the same team name.

[2021-08-02 06:11] ShineYangGod opened #204 "Swift bluesocket Can't get long data ？"
When I use tcp to connect successfully, I need to get a long data, but nothing is returned

[2021-08-03 08:33] mbarnach commented on #204
Could you provide a minimum example to reproduce it? Thanks.

[2021-08-04 00:52] ShineYangGod commented on #204
I used the testReadWrite method in dome, normal data can be received, but long data cannot be received

[2021-08-10 00:11] ShineYangGod commented on #204
Hello, what's the matter with my question? Can it be solved?

[2021-08-10 07:08] mbarnach commented on #204
@ShineYangGod I'm not sure what you mean by "long data".
I've replaced the line in `SocketTests.testReadWrite`by:

[code]

and everything works fine.
If your use case is different, please provide a minimum example that we can look at.

[2021-08-10 07:12] ShineYangGod commented on #204
Wait a minute, I will give you a long data example

[2021-08-10 07:36] ShineYangGod commented on #204
[MintBlueTCPSocketMangent.swift.zip](https://github.com/Kitura/BlueSocket/files/6959828/MintBlueTCPSocketMangent.swift.zip)

This is what I use now, and finally there is an example of the data returned by our gateway

[2021-08-10 08:03] mbarnach commented on #204
If I'm using the data (end of your doc) directly in the sample, it works fine. I think the issue should be somewhere else, either in the setup or in the delay induced by your gateway maybe?

[2021-08-10 08:18] ShineYangGod commented on #204
If i directly use SocketTests.testReadWrite  Is it possible to connect to TCP and send data and receive data?

[2021-08-10 08:33] ShineYangGod commented on #204
<img width="712" alt="截屏2021-08-10 16 31 53" src="https://user-images.githubusercontent.com/19811314/128834818-39c23c35-bd9e-4f8a-b7f6-eba58da9f015.png">
The first line is the data I sent to the gateway, and the last line is the received data. Normally, there is a string of data similar to the example I sent to you.

[2021-08-10 09:18] ShineYangGod commented on #204
I tested it several times, and it seems that the client stopped receiving after receiving a few pieces of data. How do I set the client to continue to receive data?

[2021-08-12 06:06] ShineYangGod commented on #204
After testing, our gateway is no problem. I tried other third-party sockets, and there is no problem. Now, when we use our socket to receive messages, we can’t achieve continuous reception.
Our gateway will generally return two messages in a row, and will actively push the message. When I send a message, the gateway is pushing at the same time, and the message will not be received at this time.

[2021-08-28 22:25] dannys42 commented on #204
@ShineYangGod This sounds similar to this [issue](https://github.com/Kitura/BlueSocket/issues/176). TCP sockets can operate in a blocking or non-blocking fashion.  When using non-blocking (which I think is the default), you are not guaranteed to get any specific number of bytes upon read.  So when you run things locally you might see that you get all your data instantaneously, but when you go thro

[2021-09-01 01:07] ShineYangGod commented on #204
Can you give a specific example?

[2021-09-25 03:42] Joebayld opened #205 "Warnings in Xcode 13"
I'm upgrading to Xcode 13 and theres a handful of warnings for files missing. I believe is because when using Swift Package Manager it doesn't download the Xcode project files. So they're not there to exclude.

I'm curious if there need to be an Xcode project anyways? Support for opening packages has gotten much better in the latest version.

<img width="1038" alt="Screen Shot 2021-09-24 at 8 40 1

[2021-09-27 16:01] ay42 commented on #205
This is happening because default root for the `exclude` is `Sources/Socket` folder.
[code]

[2021-09-27 17:43] dannys42 commented on #205
I created a [PR](https://github.com/Kitura/BlueSocket/pull/206) for this.  Please check it out and let me know if it works for you.  (Would be nice if someone's also able to verify with Xcode 12.x as well).

[2021-09-28 12:24] ShineYangGod commented on #204
Why is the tcp connection so slow?  And the message sent to the server is very slow. I have no problem with other sockets, and I looked at the log and did not receive the message sent.

[2021-09-28 23:24] Joebayld commented on #205
@dannys42 I checked it out and tested on both Xcode 12 and 13 and the issue is resolved. Nice work.

[2021-09-29 03:28] dannys42 commented on #205
Awesome, thank you so much @Joebayld !

[2021-09-29 04:17] dannys42 commented on #205
Do you need a version bump for this fix?

[2021-09-29 04:29] dannys42 commented on #204
Hi @ShineYangGod can you provide a working example?  I'm looking at the `MintBlueTCPSocketMangent.swift.zip` you gave and it looks like your server in `mintServerHelper()` is accepting new connections but not reading or writing any data.  Meanwhile your client in `mintTestReadWrite()` is attempting to read data as soon as it's connected... I'm not sure if the socket is a blocking or non-blocking s

[2021-09-29 04:29] dannys42 commented on #204
Hi @ShineYangGod can you provide a working example?  I'm looking at the `MintBlueTCPSocketMangent.swift.zip` you gave and it looks like your server in `mintServerHelper()` is accepting new connections but not reading or writing any data.  Meanwhile your client in `mintTestReadWrite()` is attempting to read data as soon as it's connected... I'm not sure if the socket is a blocking or non-blocking s

[2021-09-29 07:34] mingyoung commented on #205
Yes! 🥰

[2021-09-29 08:29] Joebayld commented on #205
Thatd be great!

[2021-09-29 13:25] ShineYangGod commented on #204
I use the blocking method. I do it with reference to dome. If there is a problem with the solution, can I give some suggestions?

[2021-09-29 18:14] dannys42 commented on #205
[Version 2.0.2](https://github.com/Kitura/BlueSocket/releases/tag/2.0.2) is available.  Please close this issue if it's resolved. :-)

[2021-09-30 09:24] ShineYangGod commented on #204
[MintBlueTCPSocketMangent.swift.zip](https://github.com/Kitura/BlueSocket/files/7258351/MintBlueTCPSocketMangent.swift.zip)
I'm not sure what this method is for? acceptClientConnection, whenever you get to this step, it will jump out, attach my code

[2021-10-06 13:39] willm132 commented on #205
When I try "Update To Latest Package Versions" BlueSocket is staying at v1.0.2.00

[2021-10-07 03:34] dannys42 commented on #205
@willm132 What package manager are you using?  And what's your import line look like?

[2021-11-08 20:47] tombell opened #207 "Cannot connect to listening UNIX socket"
I'm trying to creaste a listening UNIX socket, and also connect to it using `BlueSocket`, however I'm getting the error `Error code: -9993(0x-2709), Invalid argument` when calling `socket.acceptClientConnection()` when connecting using `BlueSocket`, however testing with the utility `socat` it connects fine.

Server code:

[code]

Client

[code]

I am assuming I am missing something from the connec

[2021-11-09 02:04] dannys42 commented on #207
I'm not sure why you're getting that problem.  Perhaps there's a threading issue due to the use of the global queue?  I tried a paired down version and it seems to connect ok:

server.swift:

[code]

client.swift:

[code]

[2021-11-09 04:44] tombell commented on #207
@dannys42 Yeah, it's a complete mystery to me, I made a separate project client and that could connect fine, using `socat` could connect fine, but any sort of client inside the same project as the server, it just doesn't seem to work.

[2021-11-09 19:18] tombell commented on #207
I've managed to create a simple minimal project that reproduces the issue for me https://github.com/tombell/minimal-socket-bug

[2021-11-10 22:05] tombell commented on #207
Since this doesn't appear to be a bug directly with BlueSocket, and I've managed to figure out a work around, I'll close this off.

[2021-11-10 22:05] #207 closed

[2021-11-18 00:10] mschrage commented on #207
Hey @tombell, would you mind sharing your workaround? I'm running into an issue that sounds awfully similar to this.

[2021-11-18 22:46] tombell commented on #207
@mschrage my work around was kind of just splitting things out into functions, and I think wrapping the `Socket` function calls in `do { ... } catch { ... }` seemed to help to

[2022-02-01 23:38] tami5 opened #208 "Error code: -9993(0x-2709), Invalid argument"
I'm having an odd issue that I can't seem to be able to solve.

In my program I have a main unix socket that accept message and within the same program I have cli that create a socket and write to the main socket. The connection to main has no issues, it's when I write, the main socket error out with  `Error code: -9993(0x-2709), Invalid argument`

Main Socket:
[code]

CLI socket write:

[code]

[2022-02-09 06:55] jmurphyau commented on #172
This article helped me.. For anyone else getting errors when trying to open a connect on a Mac app, make sure you allow "Outgoing Connections (Client)" in "Signing & Capabilities"

[2022-02-23 23:09] grill2010 opened #209 "Get local IP address"
Is is somehow possible with this library to get the local IP address to which the socket is currently bound? E.g. I have following Android Java code which I need to translate to Swift

[code]

is there a way which is similar to `localAddress = sock.getLocalAddress();`?

[2022-02-24 00:23] grill2010 commented on #209
I think I found a way. I don't think there is another way of how you can get the local bound IP address, if there is please let me know. This is the solution I use currently

[code]

Maybe this could be added to the library in some way so that a bound address can be accessed easier?

[2022-03-09 06:50] dannys42 commented on #208
I think the "Socket.create" line may not be needed in your `attach()` call?  It's certainly overriding your `socket.listen()`.

[2022-03-09 07:07] tami5 commented on #208
🤔 indeed must copied here by mistake.

as a workaround I opt out to nc

[code]

My attach function is now

[code]

[2022-04-25 12:49] Nahatakyan opened #210 "Echoserver and JavaScript"
Hi. In my case my iOS application needs to be a server, then other iOS apps can connect to it as a client. Now everything works perfectly. Other apps can connect very easily. Now we want to connect to my server from the Web(javascript) and every time we got an error. Can someone show us an example or say how we can do it?

[2022-04-25 13:27] billabt commented on #210
Can you post a bit more info?  Specifically what erro you're receiving on client side and maybe a log of what's happening on the server when the error occurred. Thanks.

[2022-04-25 14:15] Nahatakyan commented on #210
Front trying to connect with socket.io. In the first time, when client connects, he send this data:
[code]
But the next I have this situation and receiving data did not stop. I want to know if maybe I need to send a response?
<img width="1091" alt="Screen Shot 2022-04-25 at 18 11 38" src="https://user-images.githubusercontent.com/35862561/165106681-2793b0c9-5431-4f1e-8b83-6f4e17ad9852.png">

In ja

[2022-04-27 15:18] Nahatakyan commented on #210
I found the solution in WebSocket documentation. Thanks.

[2022-04-27 15:18] #210 closed

[2022-05-01 09:54] arashetm opened #211 "Can not receive tcp packets in hotspot"
Hi,
Thanks for your awesome library.
My problem is that I can't receive TCP packets through the hotspot, but I can get them in a regular network by your sample code.
Are there any restrictions in the hotspot network?

[2022-05-02 17:15] dannys42 commented on #211
When you say "hotspot" is it something from your cellular phone company?  Some of them do have filters that prevent you from running "servers".  You can run a test using the command-line netcat ("nc") utility to confirm.  Something like this to run a server:

[code]

You can vary the port number.  I've found some service providers only block specific common ports (like http, smtp, etc).

[2022-05-18 08:14] ShineYangGod opened #212 "Tcp Incomplete receiving data"
After connecting to TCP, I waited to receive data after sending data, and found that only half of the received data was received. How to solve the problem of not receiving half of the data received
<img width="1430" alt="截屏2022-05-18 15 40 54" src="https://user-images.githubusercontent.com/19811314/168991104-8934b8cb-b93d-477d-a5f6-c949d22e5f98.png">

[2022-05-22 17:49] dannys42 commented on #212
Unlike websockets, read and writes for TCP sockets are not guaranteed to be of any particular size and may chop your message such that you need multiple read's to get the full message.  You can find similar discussions in [Issue 204](https://github.com/Kitura/BlueSocket/issues/204) and [Issue 176](https://github.com/Kitura/BlueSocket/issues/176).

I recently made a [PacketProcessor](https://github

[2022-06-20 19:02] Joebayld opened #213 "Unable to detect closed socket"
I'm not reciving zero bytes when the socket loses connection. Could something have changed regarding this?

It used to return bytesRead = 0 when the connection was closed.

[code]

[2022-07-01 00:30] dannys42 commented on #213
Nothing should have changed here.  What is bytesRead returning instead?

[2022-07-11 20:38] sean7512 commented on #74
I unfortunately moved on from the project and never got around to doing this.

[2022-07-16 23:01] pitfield opened #214 "Incompatible with swift-argument-parser v1.0.0+"
BlueSocket currently has a dependency on swift-argument-parser version 0.4.1..<1.0.  This prevents use of the current v1.1.3 release of swift-argument-parser.  (swift-argument-parser version 1.0 was released 2021-09-10.)

Could BlueSocket be made compatible with the current release of swift-argument-parser and this version constraint relaxed in Package.swift?

Background: This issue surfaced in [P

[2022-07-17 06:05] dannys42 commented on #214
Hi @pitfield , yes you are correct swift-argument-parser is being used by some test/sample CLI commands.  But the dependency is clearly not in the library.  It's kind of peculiar that SPM consider it required for packages that depend on this.

[2022-07-17 13:53] dannys42 commented on #214
I just tried building PostgresClientKit.  I did not encounter any build issues or dependencies with Swift Argument Parser:

[code]

I'm building with 5.7, though.

Unrelated note: "IBM-Swift" should now be replaced with "Kitura".

[2022-07-17 15:57] pitfield commented on #214
Thank you for taking a look at this.

I think I was unclear; my apologies.  PostgresClientKit does not itself use swift-argument-parser.  However its dependency on BlueSocket means PostgresClientKit cannot be used in any project already using swift-argument-parser version 1.0.0+.

I have created [this repository](https://github.com/pitfield/BlueSocketIssue214) with a standalone reproducible test c

[2022-07-18 00:02] dannys42 commented on #214
@pitfield Thanks for the clarification.  I wonder if this is because BlueSocket is still using the Swift 5.0 package file format?  Do you have any objection to upping the minimum to Swift 5.2?

[2022-07-18 23:36] pitfield commented on #214
@dannys42 [I forked](https://github.com/pitfield/BlueSocket) BlueService, tried switching to the SPM 5.2 grammar, and changed the test case to be dependent on the fork.  Unfortunately, I am still getting the same dependency resolution error.  Does switching to SPM 5.2 work for you?

I am OK requiring Swift 5.2+ if there is no better option.  But is it possible to make BlueService dependent on swif

[2022-07-19 23:48] dannys42 commented on #214
@pitfield Thank you so much for testing that!  This really seems like an SPM bug to me.

I don't mind bumping the version of Swift Argument Parser, but it is definitely wrong that this shows up as a dependency requirement for people just using the library.  I think I will restructure the project so that the example programs have their own Package.swift file to alleviate this issue.

[2022-07-20 06:02] dannys42 commented on #214
Ok, created PR 215: https://github.com/Kitura/BlueSocket/pull/215

When it passes CI, I'll tag a new release.

[2022-07-22 05:55] dannys42 commented on #214
@pitfield Please try BlueSocket 2.0.3

[2022-07-22 22:05] Kirow commented on #208
I had same error but in different context.
[code]

It worked few days ago, but now its not and that makes me crazy... the problem in `localhost`...if I change it to `127.0.0.1` it start working again. But Im pretty sure it worked with `localhost` before. Any ideas why it stop working?

[2022-07-23 01:33] dannys42 commented on #208
If you're on macOS, I think localhost is defined for both ipv4 and ipv6, which I think can sometimes cause confusion.  Is it more reliable if you use 127.0.0.1?  Also how is your listening side declared?

[2022-07-23 14:16] Kirow commented on #208
@dannys42 yes, im on macOS. no listener in this example. it just works w/o error if I change to `127.0.0.1`. But I'm very curious about the reason why `localhost` stopped working (because it worked few days ago and I have not change source code). So it more likely the issue with my host machine.
`/etc/hosts` does have `127.0.0.1 localhost` and  `ping localhost` in terminal works...

[2022-07-23 14:40] Kirow commented on #208
`/etc/hosts` also has `::1 localhost`. After I removed it - socket start working again. So yes, it were related to ipv4/ipv6. Not sure why it were recognised as AF_INET before and now as AF_INET6, but yes - it will be more reliable to use `127.0.0.1`

[2022-07-23 18:24] pitfield commented on #214
Works in v2.0.3.  Thank you!

[2022-07-23 18:24] #214 closed

[2022-10-15 22:57] Joebayld commented on #78
Circling back on this. I'm not sure it has been resolved. How would one bind an outbound socket to an interface?

[2022-10-26 08:50] Joebayld commented on #213
@dannys42 bytesRead isn't getting returned anything. The socket is on Wi-Fi and for a test, I turn off Wi-Fi on my computer (to force a disconnect), but nothing happens.

[2022-10-27 15:13] dannys42 commented on #213
@Joebayld what do you mean?  Is it blocking?  Or is it returning with a 0 or -1?  Can you setup an example program to demonstrate this?

[2022-11-09 03:03] phonefixnicole opened #216 "is there any other"